{% load static %}

<style>
    .alert.alert-danger .btn-close::after {
        color: none !important;
    }
    .alert-dismissible .btn-close::after {
        background: 0 0 !important;
        content: none !important;
    }
</style>
<style>
    #alertForGlobal {
        position: fixed;
        bottom: 50px; 
        right: 50px; 
        transition: opacity 1s, right 1s;
        z-index: 9999 !important;
    }
    
    .fade-out {
        opacity: 0;
        right: -200px; 
    }
</style>

{% for message in messages %}
    <div id="alertForGlobal" class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
{% endfor %}

<script>
    var alertBoxes = document.querySelectorAll('.alert');
    alertBoxes.forEach(function(alertBox) {
        alertBox.style.display = 'block';
        setTimeout(function() {
            alertBox.classList.add('fade-out');
            setTimeout(function() {
                alertBox.remove();
            }, 1000);
        }, 3000);
    });
</script>
