{% load static %}
<style>
    :is([data-layout="vertical"], [data-layout="semibox"])[data-sidebar-size="sm"] .navbar-brand-box {
        background-color: transparent !important;
    }

    .navbar-menu {
        background: var(--vz-vertical-menu-bg);
        opacity: .95 !important;
    }

    .navbar-menu .navbar-nav .nav-link[data-bs-toggle="collapse"]:after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='18' height='18'%3E%3Cpath d='M13.1714 12.0007L8.22168 7.05093L9.63589 5.63672L15.9999 12.0007L9.63589 18.3646L8.22168 16.9504L13.1714 12.0007Z' fill='rgba(255,255,255,1)'%3E%3C/path%3E%3C/svg%3E") !important;
    }

    .navbar-menu .navbar-nav .nav-link {
        color: #F5F5F5;
        font-size: 0.925rem;
        font-family: Inter, sans-serif;
    }

    .menu-title {
        color: #FFC000 !important;
    }

    .navbar-menu .navbar-nav .nav-sm .nav-link {
        padding: 0.55rem 1.5rem !important;
        color: white;
        white-space: none;
        position: relative;
        font-size: 0.8125rem;
        font-family: Inter, sans-serif;
    }

    .logo-sm {
        line-height: 70px;
        margin: 10px 0px;
    }
    
    {% comment %} :root[data-sidebar="dark"] {
        --vz-vertical-menu-bg: #660000 !important;
    } {% endcomment %}

    .span-text-title {
        font-size: 0.8rem;
    }
    
    .nav-link {
        font-size: 0.7rem !important;
    }
</style>
<!-- LOGO -->
<div class="navbar-brand-box">
    <!-- Dark Logo-->
    <!--a href="#" class="logo logo-dark">
        <span class="logo-sm">
            <img src="{% static 'img/pupqcfps2.png' %}" alt="" height="50">
        </span>
        <span class="logo-lg">
            <img src="{% static 'img/mypupqc.webp' %}" alt="" height="30">
        </span>
    </a-->
    <!-- Light Logo-->
    <a href="#" class="logo logo-light">
        <span class="logo-sm">
            <img src="{% static 'img/pupqcfps2.png' %}" alt="" height="50">
        </span>
        <span class="logo-lg">
            <img src="{% static 'img/mypupqc2.png' %}" alt="" height="30">
        </span>
    </a>
    <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
        <i class="ri-record-circle-line"></i>
    </button>
</div>

<!-- sidebar menus -->
<div id="scrollbar" class="sidebar-tooltip">
    <div class="container-fluid">
        <div id="two-column-menu"></div>
        <ul class="navbar-nav" id="navbar-nav">
            
            <!-- performance analytics -->
            <li class="menu-title"><i class="ri-more-fill"></i><span data-key="t-menu">Performance Analytics</span></li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="{% url 'exec_dashboard' %}" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                    <i class="ri-dashboard-fill"></i> <span data-key="t-dashboards" class="span-text-title">Dashboard</span>
                </a>
            </li>

            <!-- faculty profile mgmt  -->
            <li class="menu-title"><i class="ri-more-fill"></i><span data-key="t-menu">Faculty Performance</span></li>

            <li class="nav-item">
                <a class="nav-link menu-link" href="{% url 'coming_soon' %}" role="button" aria-expanded="false" aria-controls="sidebar_facultyInfo">
                    <i class="ri-shield-user-line"></i> <span class="span-text-title" data-key="t-apps">Faculty Management</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebar_Eval" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar_Eval">
                    <i class="ri-chat-smile-3-line"></i> <span class="span-text-title" data-key="t-authentication">Evaluations</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebar_Eval">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="{% url 'eval_upload' %}" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarSignIn" data-key="t-signin">
                                Upload Evaluations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'eval_analytics' %}" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarSignUp" data-key="t-signup">
                                Analytics 
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link disabled text-muted" href="#sidebar_researchPub" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar_researchPub">
                    <i class="ri-book-open-fill"></i> <span class="span-text-title" data-key="t-authentication">Research & Publications</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebar_researchPub">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarSignIn" data-key="t-signin">
                                Research Output Tracking
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarSignUp" data-key="t-signup">
                                Grant and Funding Mgmt. 
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarResetPass" data-key="t-password-reset">
                                Citation Metrics
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link disabled text-muted" href="#sidebar_proTraining" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar_proTraining">
                    <i class="ri-user-settings-line"></i> <span class="span-text-title" data-key="t-pages">Development & Training</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebar_proTraining">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-key="t-starter">
                                Workshop and Seminar Attendance
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarProfile" data-key="t-profile">
                                Continuing Education
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link disabled text-muted" href="#sidebar_committeeService" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar_committeeService">
                    <i class="ri-service-line"></i> <span class="span-text-title" data-key="t-landing">Committee Participation</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebar_committeeService">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-key="t-one-page"> Committee Membership </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-key="t-nft-landing"> Community Engagement </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link disabled text-muted" href="#sidebar_perfEval" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar_perfEval">
                    <i class="ri-contacts-book-upload-line"></i> <span class="span-text-title" data-key="t-landing">Performance Eval & <br> Goal Setting</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebar_perfEval">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-key="t-one-page_one"> Self Assessment </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-key="t-nft-landing_one"> Performance Appraisal </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-components">Faculty Components</span></li>

            <li class="nav-item">
                <a class="nav-link menu-link disabled text-muted" href="#sidebarUI" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarUI">
                    <i class="ri-shield-cross-line"></i> <span class="span-text-title" data-key="t-base-ui">Merit & Promotion</span>
                </a>
                <div class="collapse menu-dropdown mega-dropdown-menu" id="sidebarUI">
                    <div class="row">
                        <div class="col-lg-4">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="ui-alerts.html" class="nav-link" data-key="t-alerts">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-badges.html" class="nav-link" data-key="t-badges">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-buttons.html" class="nav-link" data-key="t-buttons">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-colors.html" class="nav-link" data-key="t-colors">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-cards.html" class="nav-link" data-key="t-cards">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-carousel.html" class="nav-link" data-key="t-carousel">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-dropdowns.html" class="nav-link" data-key="t-dropdowns">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-grid.html" class="nav-link" data-key="t-grid">...</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="ui-images.html" class="nav-link" data-key="t-images">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-tabs.html" class="nav-link" data-key="t-tabs">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-accordions.html" class="nav-link" data-key="t-accordion-collapse">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-modals.html" class="nav-link" data-key="t-modals">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-offcanvas.html" class="nav-link" data-key="t-offcanvas">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-placeholders.html" class="nav-link" data-key="t-placeholders">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-progress.html" class="nav-link" data-key="t-progress">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-notifications.html" class="nav-link" data-key="t-notifications">...</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="ui-media.html" class="nav-link" data-key="t-media-object">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-embed-video.html" class="nav-link" data-key="t-embed-video">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-typography.html" class="nav-link" data-key="t-typography">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-lists.html" class="nav-link" data-key="t-lists">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-links.html" class="nav-link"><span data-key="t-links">...</span> <span class="badge badge-pill bg-success" data-key="t-new">New</span>...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-general.html" class="nav-link" data-key="t-general">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-ribbons.html" class="nav-link" data-key="t-ribbons">...</a>
                                </li>
                                <li class="nav-item">
                                    <a href="ui-utilities.html" class="nav-link" data-key="t-utilities">...</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link disabled text-muted" href="#sidebarAdvanceUI" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAdvanceUI">
                    <i class="ri-feedback-fill"></i> <span class="span-text-title" data-key="t-advance-ui">Communications</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarAdvanceUI">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="advance-ui-sweetalerts.html" class="nav-link" data-key="t-sweet-alerts">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="advance-ui-nestable.html" class="nav-link" data-key="t-nestable-list">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="advance-ui-scrollbar.html" class="nav-link" data-key="t-scrollbar">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="advance-ui-animation.html" class="nav-link" data-key="t-animation">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="advance-ui-tour.html" class="nav-link" data-key="t-tour">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="advance-ui-swiper.html" class="nav-link" data-key="t-swiper-slider">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="advance-ui-ratings.html" class="nav-link" data-key="t-ratings">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="advance-ui-highlight.html" class="nav-link" data-key="t-highlight">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="advance-ui-scrollspy.html" class="nav-link" data-key="t-scrollSpy">...</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link disabled text-muted" href="#sidebar_" data-bs-toggle="collapse" href="widgets.html">
                    <i class="ri-walk-line"></i> <span class="span-text-title" >Attendance <br> and Leave Mgmt.</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link disabled text-muted" href="#sidebarForms" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarForms">
                    <i class="ri-medal-line"></i> <span class="span-text-title" data-key="t-forms">Awards & Recognition</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarForms">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="forms-elements.html" class="nav-link" data-key="t-basic-elements">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="forms-select.html" class="nav-link" data-key="t-form-select"> ...</a>
                        </li>
                        <li class="nav-item">
                            <a href="forms-checkboxs-radios.html" class="nav-link" data-key="t-checkboxs-radios">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="forms-pickers.html" class="nav-link" data-key="t-pickers"> ...</a>
                        </li>
                        <li class="nav-item">
                            <a href="forms-masks.html" class="nav-link" data-key="t-input-masks">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="forms-advanced.html" class="nav-link" data-key="t-advanced">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="forms-range-sliders.html" class="nav-link" data-key="t-range-slider"> ...</a>
                        </li>
                        <li class="nav-item">
                            <a href="forms-validation.html" class="nav-link" data-key="t-validation">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="forms-wizard.html" class="nav-link" data-key="t-wizard">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="forms-editors.html" class="nav-link" data-key="t-editors">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="forms-file-uploads.html" class="nav-link" data-key="t-file-uploads">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="forms-layouts.html" class="nav-link" data-key="t-form-layouts">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="forms-select2.html" class="nav-link" data-key="t-select2">...</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link disabled text-muted" href="#sidebarTables" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarTables">
                    <i class="ri-refresh-line"></i> <span class="span-text-title" data-key="t-tables">Workload Distribution</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarTables">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="tables-basic.html" class="nav-link" data-key="t-basic-tables">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="tables-gridjs.html" class="nav-link" data-key="t-grid-js">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="tables-listjs.html" class="nav-link" data-key="t-list-js">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="tables-datatables.html" class="nav-link" data-key="t-datatables">...</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link disabled text-muted" href="#sidebarCharts" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCharts">
                    <i class="ri-calendar-todo-line"></i> <span class="span-text-title" data-key="t-charts">Development Plans</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarCharts">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="#sidebarApexcharts" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarApexcharts" data-key="t-apexcharts">...</a>
                            <div class="collapse menu-dropdown" id="sidebarApexcharts">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="charts-apex-line.html" class="nav-link" data-key="t-line">...</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-area.html" class="nav-link" data-key="t-area">...</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-column.html" class="nav-link" data-key="t-column">...</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-bar.html" class="nav-link" data-key="t-bar">...</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-mixed.html" class="nav-link" data-key="t-mixed">...</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-timeline.html" class="nav-link" data-key="t-timeline">...</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-range-area.html" class="nav-link"><span data-key="t-range-area">...</span> <span class="badge badge-pill bg-success" data-key="t-new">New</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-funnel.html" class="nav-link"><span data-key="t-funnel">...</span> <span class="badge badge-pill bg-success" data-key="t-new">New</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-candlestick.html" class="nav-link" data-key="t-candlstick">...</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-boxplot.html" class="nav-link" data-key="t-boxplot">...</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-bubble.html" class="nav-link" data-key="t-bubble">...</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-scatter.html" class="nav-link" data-key="t-scatter">...</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-heatmap.html" class="nav-link" data-key="t-heatmap">...</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-treemap.html" class="nav-link" data-key="t-treemap">...</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-pie.html" class="nav-link" data-key="t-pie">...</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-radialbar.html" class="nav-link" data-key="t-radialbar">...</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-radar.html" class="nav-link" data-key="t-radar">...</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="charts-apex-polar.html" class="nav-link" data-key="t-polar-area">...</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="charts-chartjs.html" class="nav-link" data-key="t-chartjs"> ... </a>
                        </li>
                        <li class="nav-item">
                            <a href="charts-echarts.html" class="nav-link" data-key="t-echarts"> ... </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link menu-link disabled text-muted" href="#sidebarIcons" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarIcons">
                    <i class="ri-run-line"></i> <span class="span-text-title" data-key="t-icons">Retention and Exit Mgmt.</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarIcons">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="icons-remix.html" class="nav-link" data-key="t-remix">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="icons-boxicons.html" class="nav-link" data-key="t-boxicons">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="icons-materialdesign.html" class="nav-link" data-key="t-material-design">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="icons-lineawesome.html" class="nav-link" data-key="t-line-awesome">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="icons-feather.html" class="nav-link" data-key="t-feather">...</a>
                        </li>
                        <li class="nav-item">
                            <a href="icons-crypto.html" class="nav-link"> <span data-key="t-crypto-svg"></span>...</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!-- Sidebar -->
</div>