{% load static %}
<style>
    :is([data-layout="vertical"], [data-layout="semibox"])[data-sidebar-size="sm"] .navbar-brand-box {
        background-color: transparent !important;
    }

    .navbar-menu {
        background: var(--vz-vertical-menu-bg);
        opacity: .95 !important;
        color: black;
    }

    .navbar-menu .navbar-nav .nav-link[data-bs-toggle="collapse"]:after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='18' height='18'%3E%3Cpath d='M13.1714 12.0007L8.22168 7.05093L9.63589 5.63672L15.9999 12.0007L9.63589 18.3646L8.22168 16.9504L13.1714 12.0007Z' fill='rgba(255,255,255,1)'%3E%3C/path%3E%3C/svg%3E") !important;
    }

    .navbar-menu .navbar-nav .nav-link {
        color: white;
        font-size: 0.925rem;
        font-family: Inter, sans-serif;
    }

    .menu-title {
        color: #FFC000 !important;
    }

    .navbar-menu .navbar-nav .nav-sm .nav-link {
        padding: 0.55rem 1.5rem !important;
        color: black;
        white-space: none;
        position: relative;
        font-size: 0.8125rem;
        font-family: Inter, sans-serif;
    }

    .logo-sm {
        line-height: 70px;
        margin: 10px 0px;
    }


    .span-text-title {
        font-size: 0.8rem;
    }
    
    .nav-link {
        font-size: 0.7rem !important;
    }

    [data-layout="horizontal"] .navbar-nav .nav-item:hover > .nav-link
    {
        color: #600000 !important;
    }

</style>

<!-- LOGO -->
<div class="navbar-brand-box">
    <!-- Dark Logo-->
    <a href="#" class="logo logo-dark">
        <span class="logo-sm">
            <img src="{% static 'img/pupqcfps2.png' %}" alt="" height="50">
        </span>
        <span class="logo-lg">
            <img src="{% static 'img/mypupqc.webp' %}" alt="" height="30">
        </span>
    </a>
    <!-- Light Logo-->
    <a href="#" class="logo logo-light">
        <span class="logo-sm">
            <img src="{% static 'img/pupqcfps2.png' %}" alt="" height="50">
        </span>
        <span class="logo-lg">
            <img src="{% static 'img/mypupqc2.png' %}" alt="" height="30">
        </span>
    </a>
    <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
        <i class="ri-record-circle-line"></i>
    </button>
</div>

<!-- sidebar menus -->
<div id="scrollbar" class="sidebar-tooltip">
    <div class="container-fluid">
        <div id="two-column-menu"></div>
        <ul class="navbar-nav justify-content-center" id="navbar-nav">
            
            <!-- performance analytics -->
            <li class="menu-title"><i class="ri-more-fill"></i><span data-key="t-menu">Performance Analytics</span></li>

            <li class="nav-item">
                <a class="nav-link menu-link" href="{% url 'exec_dashboard' %}" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                    <i class="ri-dashboard-fill"></i> <span data-key="t-dashboards" class="span-text-title">Dashboard</span>
                </a>
            </li>

            <!-- faculty profile mgmt  -->
            <li class="menu-title"><i class="ri-more-fill"></i><span data-key="t-menu">Faculty Performance</span></li>

            <li class="nav-item">
                <a class="nav-link menu-link" href="{% url 'fac_mgmnt' %}" role="button" aria-expanded="false" aria-controls="sidebar_facultyInfo">
                    <i class="ri-shield-user-line"></i> <span class="span-text-title" data-key="t-apps">Faculty Management</span>
                </a>
            </li>

            <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-components">Faculty Components</span></li>

            <li class="nav-item">
                <a class="nav-link menu-link" href="{% url 'eval_analytics' %}" {% comment %}data-bs-toggle="collapse"{% endcomment %} role="button" aria-expanded="false" aria-controls="#">
                    <i class="ri-chat-smile-3-line"></i> <span class="span-text-title" data-key="t-authentication">Evaluations</span>
                </a>
                {% comment %}
                    <div class="collapse menu-dropdown" id="sidebar_Eval">
                        <ul class="text-black nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{% url 'eval_upload' %}" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarSignIn" data-key="t-signin">
                                    Upload Evaluations
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'eval_analytics' %}" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarSignUp" data-key="t-signup">
                                    Analytics 
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endcomment %}
            </li>


            <li class="nav-item">
                <a class="nav-link menu-link" href="{% url "rsrch_analytics" %}" {% comment %}  href="{% url 'rsrch_analytics' %}" data-bs-toggle="collapse"{% endcomment %} role="button" aria-expanded="false" aria-controls="#">
                    <i class="ri-book-open-fill"></i> <span class="span-text-title" data-key="t-authentication">Research and Publications</span>
                </a>
                {% comment %}
                    <div class="collapse menu-dropdown" id="sidebar_researchPub">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{% url 'rsrch_tracking' %}" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarSignIn" data-key="t-signin">
                                    Research Output Tracking
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'rsrch_analytics' %}" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarSignUp" data-key="t-signup">
                                    Analytics
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endcomment %}
            </li>
            
            <li class="nav-item">
                <a class="nav-link menu-link" href="{% url "error_page_404" %}" {% comment %} href="{% url 'awards_analytics' %}" data-bs-toggle="collapse" {% endcomment %} role="button" aria-expanded="false" aria-controls="sidebar_proAwards">
                    <i class="ri-medal-line"></i> <span class="span-text-title" data-key="t-pages">Awards and Recognition</span>
                </a>
                {% comment %}
                    <div class="collapse menu-dropdown" id="sidebar_proAwards">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{% url 'awards_recog' %}" class="nav-link" data-key="t-starter">
                                    Awards
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'awards_analytics' %}" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarProfile" data-key="t-profile">
                                    Analytics
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endcomment %}
            </li>
            
            <li class="nav-item">
                <a class="nav-link menu-link" href="{% url "error_page_404" %}" {% comment %}  href="{% url 'mrt_analytics' %}" data-bs-toggle="collapse" {% endcomment %}role="button" aria-expanded="false" aria-controls="#">
                    <i class="ri-shield-cross-line"></i> <span class="span-text-title" data-key="t-base-ui">Merit & Promotion</span>
                </a>
                {% comment %}
                    <div class="collapse menu-dropdown" id="sidebarUI">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{% url 'mrt_promotion' %}" class="nav-link" data-key="t-alerts">Promotions</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'mrt_analytics' %}" class="nav-link" data-key="t-badges">Analytics</a>
                            </li>
                        </ul>
                    </div>
                {% endcomment %}
            </li>
            
            
            <li class="nav-item">
                <a class="nav-link menu-link" href="{% url "error_page_404" %}" {% comment %} href="{% url 'prodev_analytics' %}" data-bs-toggle="collapse" {% endcomment %} role="button" aria-expanded="false" aria-controls="sidebar_proTraining">
                    <i class="ri-user-settings-line"></i> <span class="span-text-title" data-key="t-pages">Professional Development</span>
                </a>
                {% comment %}
                    <div class="collapse menu-dropdown" id="sidebar_proTraining">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{% url 'prodev_attendance' %}" class="nav-link" data-key="t-starter">
                                    Development Events
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'prodev_analytics' %}" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarProfile" data-key="t-profile">
                                    Analytics
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endcomment %}
            </li>
            
            {% comment %}
            <li class="nav-item">
                <a class="nav-link menu-link" href="{% url 'workload_analytics' %}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="#">
                    <i class="ri-refresh-line"></i> <span class="span-text-title" data-key="t-tables">Workload Distribution</span>
                </a>
                
                    <div class="collapse menu-dropdown" id="sidebarTables">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{% url 'workload_dat' %}" class="nav-link" data-key="t-basic-tables">Records</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'workload_analytics' %}" class="nav-link" data-key="t-grid-js">Analytics</a>
                            </li>
                        </ul>
                    </div>
                
            </li>
            {% endcomment %}
            {% comment %}

            <li class="nav-item">
                <a class="nav-link menu-link" href="{% url 'alm_analytics' %}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAdvanceUI1">
                    <i class="ri-walk-line"></i> <span class="span-text-title">Leave Management</span>
                </a>
                    <div class="collapse menu-dropdown" id="sidebarAdvanceUI1">
                        <ul class="nav nav-sm flex-column"> 
                            <li class="nav-item">
                                <a href="{% url 'attendance_leaves' %}" class="nav-link" data-key="t-nestable-list">Leaves Requests</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'alm_analytics' %}" class="nav-link" data-key="t-nestable-list">Analytics</a>
                            </li>
                        </ul>
                    </div>
                
            </li>
            {% endcomment %}

        </ul>
    </div>
    <!-- Sidebar -->
</div>