[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
python-decouple = "*"
django-heroku = "*"
react = "*"
nodejs = "*"
validate-email = "*"
validate-email-address = "*"
email-validate = "*"
django-widget-tweaks = "*"

[dev-packages]

[requires]
python_version = "3.11"
