{% extends 'base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}

    <style>
        .breadcrumb-item + .breadcrumb-item::before {
            content: "/" !important;
        }

        .gridjs-tbody, td.gridjs-td,
        .gridjs *, .gridjs ::after, .gridjs ::before,
        .table {
            font-size: var(--vz-body-font-size);
        }

        .mt-n5{
            margin-top: -5rem !important;;
        }

        .profile-wid-bg::before {
            background: linear-gradient(to top, #660000, #3e0000);
        }

        .mt-n5{
            padding-top: 2.5rem !important;
        }

        #chart-loader {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .breadcrumb-item + .breadcrumb-item::before {
            content: "/" !important;
        }

        .gridjs-tbody, td.gridjs-td,
        .gridjs *, .gridjs ::after, .gridjs ::before,
        .table {
            font-size: var(--vz-body-font-size);
        }

        .mt-n5{
            margin-top: -5rem !important;;
        }

        .profile-wid-bg::before {
            background: linear-gradient(to top, #660000, #3e0000);
        }
        .profile-wid-bg {
            height: 200px !important;
        }
    </style>

    <div class="row">
        <div class="col-lg-12">
            <div class="card mt-n4 mx-n4">
                <div class="bg-primary-subtle">
                    <div class="card-body px-4 pb-4">
                        <div class="row mb-3">
                            <div class="col-md">
                                <div class="row align-items-center g-3">
                                    <div class="col-md-auto">
                                        <div class="avatar-md">
                                            <div class="avatar-title bg-transparent">
                                                <i class="ri-shield-user-line" style="font-size: 3rem !important;"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div>
                                                <h4 class="fw-bold text-white">Faculty Management</h4>
                                            <div class="hstack gap-3 flex-wrap text-white">
                                                <div id="evalBreadtime"><i class="ri-map-pin-2-line align-bottom me-1"></i></div>
                                                <div class="vr"></div>
                                                <div>Post Date : <span id="evalBreaddate"></span></div>
                                                <div class="vr"></div>
                                                <div>Your Designation: <div class="badge rounded-pill bg-secondary fs-12">Academic Head</div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->
            <div class="modal fade exampleModalFullscreen" id="faculty_mgmt_modal" aria-hidden="true" aria-labelledby="..." tabindex="-1">
                <div class="modal-dialog modal-fullscreen">
                    <div>
                        <div id="chart-loader" style="display: none;">
                            <img src="{% static 'img/loader.gif' %}" style="width: 60%; margin-left: 38px;">
                            <p class="d-flex flex-column align-items-center text-white">Please Wait</p>
                        </div>
                    </div>
                    <div class="modal-content" style="background-color: var(--vz-body-bg) !important;">
                        <div class="modal-body">
                            <div style="margin: 2% !important;">
                                <div class="profile-foreground position-relative mx-n4 mt-n4">
                                    <div class="profile-wid-bg">
                                        <img src="/static/images/profile-bg.jpg" alt="" class="profile-wid-img">
                                    </div>
                                </div>
        
                                <div class="pt-4 mb-4 mb-lg-3 pb-lg-4 profile-wrapper">
                                    <div class="row g-4">``
                                        <div class="col-auto mx-auto">
                                            <div class="avatar-lg">
                                                <img src="/static/images/users/user-dummy-img.jpg" alt="user-img" class="img-thumbnail rounded-circle">
                                            </div>
                                        </div>
                                        <!--end col & ri-map-pin-user-line-->
                                        <div class="col mx-auto">
                                            <div class="p-2">
                                                <h3 class="text-white mb-1" id="facultyName"></h3>
                                                <p class="text-white text-opacity-75" id="facultyType"></p>
                                                <div class="hstack text-white-50 gap-1">
                                                    <div>
                                                        <i class="ri-medal-line me-1 text-white text-opacity-75 fs-16 align-middle"></i><span id="facultyDegr"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    
                                    <!--end row-->
                                </div>
        
                                <div class="row" style="--vz-gutter-y: -1.5rem !important;">
                                    <div class="col-lg-12">
                                        <div>
                                            <div class="tab-content text-muted">
                                                <div class="tab-pane active" id="overview-tab" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-xxl-3">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <h5 class="card-title mb-5">General Performance Status</h5>
                                                                    <div class="progress animated-progress custom-progress progress-label">
                                                                        
                                                                        <div class="progress-bar bg-danger" id="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                                                            <div class="label">0%</div>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <h5 class="card-title mb-3">Faculty Information</h5>
                                                                    <div class="table-responsive">
                                                                        <table class="table table-borderless mb-0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th class="ps-0" scope="row">Mobile :</th>
                                                                                    <td class="text-muted" id="facultyNumb"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="ps-0" scope="row">E-mail :</th>
                                                                                    <td class="text-muted" id="facultyMail"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="ps-0" scope="row">Address :</th>
                                                                                    <td class="text-muted" id="facultyAddr"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div><!-- end card body -->
                                                            </div>
                                                        </div>
                                                        <div class="col-xxl-9">
                                                            <div class="row">
                                                                <div class="card">
                                                                    <div class="w-90" id="param_content3">
                                                                        {% comment %} <!-- Filtered Evaluation Rates --> {% endcomment %}
                                                                        <div class="card-header border-0 align-items-center d-flex">
                                                                            <h5 class="col-10 modal-title">Overall Evaluation Performance</h5>
                                                                            <label class="col-2 m-0" style="padding-left: 1rem !important;">
                                                                                <select id="yeardrop_per_rating" class="form-select form-select-sm"></select>
                                                                            </label>
                                                                            
                                                                        </div>
                                                                        <div id="faculty_overall" class="luh3"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="card card-height-100">
                                                                        <div class="w-100" id="param_content">
                                                                            {% comment %} <!-- Teaching Effectiveness --> {% endcomment %}
                                                                            <div class="card-header"><h5 class="modal-title">Present Evaluation Percentage</h5></div>
                                                                            <div id="faculty-mgmt-chart" class="luh"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6" id="param_content2">
                                                                    <div class="card card-height-100">
                                                                        <div class="w-100">
                                                                            {% comment %} <!-- Research Contributions --> {% endcomment %}
                                                                            <div class="card-header"><h5 class="modal-title">Research Performance</h5></div>
                                                                            <div id="rsrch_performance" class="luh2"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row mt-n5">
        <div class="col-lg-12">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title mb-0 flex-grow-1">List of Faculty Members</h4>
                </div>

                <div class="card-body">
                    <table id="fac_dtble" class="display table table-bordered dt-responsive dataTable dtr-inline" style="width:100%">
                        <thead>
                            <tr>
                                <th>Faculty Name</th>
                                <th>Faculty Type</th>
                                <th>Faculty Rank</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/main/eval_upload/eval_u_datentime.js' %}"></script>
    <script src="{% static 'js/main/faculty_mgmt/faculty_mgmt.js' %}"></script>
    


{% endblock %}