{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="row">
            <div class="col-lg-12">
                <div class="card mt-n4 mx-n4">
                    <div class="bg-primary-subtle">
                        <div class="card-body px-4 pb-4">
                            <div class="row mb-3">
                                <div class="col-md">
                                    <div class="row align-items-center g-3">
                                        <div class="col-md-auto">
                                            <div class="avatar-md">
                                                <div class="avatar-title bg-transparent">
                                                    <i class="ri-shield-cross-line" style="font-size: 3rem !important;"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div>
                                                    <h4 class="fw-bold text-white">Promotion Records</h4>
                                                <div class="hstack gap-3 flex-wrap text-white">
                                                    <div id="evalBreadtime"><i class="ri-map-pin-2-line align-bottom me-1"></i></div>
                                                    <div class="vr"></div>
                                                    <div>Post Date : <span id="evalBreaddate"></span></div>
                                                    <div class="vr"></div>
                                                    <div>Your Designation: <div class="badge rounded-pill bg-secondary fs-12">Academic Head</div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-n5">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0 flex-grow-1">Faculty Personnel as Subject to Promotion</h4>
                    </div>

                    <div class="card-body">
                        <table id="merit_dtble" class="display table table-bordered dt-responsive dataTable dtr-inline" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Faculty Name</th>
                                    <th>Faculty Status</th>
                                    <th>Department Average Rating per Faculty</th>
                                    <th>No. of Research Published</th>
                                    <th>Trainings Attended</th>
                                    <th>Promotion</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h6 class="card-title mb-0 flex-grow-1">Promotion</h6>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body border-end">
                                <div class="search-box">
                                    <input type="text" class="form-control bg-light border-light" autocomplete="off" id="searchList" placeholder="Search candidate...">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                                <div data-simplebar style="max-height: 213px" class="px-3 mx-n3">
                                    <ul class="list-unstyled mb-0 pt-2" id="candidate-list">
                                        <!--li>
                                            <a href="javascript:void(0);" class="d-flex align-items-center py-2">
                                                <div class="flex-shrink-0 me-2">
                                                    <div class="avatar-xs">
                                                        <img src="{% static 'images/users/avatar-10.jpg' %}" alt="" class="img-fluid rounded-circle candidate-img">
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5 class="fs-13 mb-1 text-truncate"><span class="candidate-name">Joanna Oliquino</span> <span class="text-muted fw-normal">@pup.edu.ph</span></h5>
                                                    <div class="d-none candidate-position">Part-time Designee</div>
                                                </div>
                                            </a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body text-center">
                                <div class="avatar-md mb-3 mx-auto">
                                    <img src="https://lh3.googleusercontent.com/a/default-user=s75-c" alt="" id="candidate-img" class="img-thumbnail rounded-circle shadow-none">
                                </div>


                                <div>
                                    <button type="button" class="btn btn-success custom-toggle w-100" data-bs-toggle="button" aria-pressed="false" id="sa-warningz">
                                        <span class="icon-on"><i class="ri-add-line align-bottom me-1"></i>Promote</span>
                                        <span class="icon-off"><i class="ri-user-unfollow-line align-bottom me-1"></i>Demote</span>
                                    </button>
                                </div>

                                <div class="promoting" style="text-align: center;">
                                    <h5 id="candidate-name" class="mt-3 mb-0">Please select a faculty</h5>
                                    <p id="candidate-position" class="text-muted">if you want to promote</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Important Progress of Faculty</h4>
                    </div>

                    <div class="card-body">
                        <div class="live-preview">

                            <p class="text-muted">Percentage of Promoted Faculties</p>
                            <div class="d-flex align-items-center pb-2 mt-4">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar-xs">
                                        <div class="avatar-title bg-light rounded-circle text-muted fs-16">
                                            <i class="ri-shield-cross-line"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <div class="progress animated-progress custom-progress progress-label">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 43%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                                            <div class="label">43%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p class="text-muted">High Average Percentage of Faculty Ratings</p>
                            <div class="d-flex align-items-center py-2">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar-xs">
                                        <div class="avatar-title bg-light rounded-circle text-muted fs-16">
                                            <i class="ri-shield-cross-line"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <div class="progress animated-progress custom-progress progress-label">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                            <div class="label">85%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p class="text-muted">Faculties Subject to Promotion</p>
                            <div class="d-flex align-items-center py-2">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar-xs">
                                        <div class="avatar-title bg-light rounded-circle text-muted fs-16">
                                            <i class="ri-shield-cross-line"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <div class="progress animated-progress custom-progress progress-label">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 57%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                            <div class="label">57%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Content Progress</h4>
                    </div>

                    <div class="card-body">

                        <div class="live-preview">

                            <div class="card bg-light overflow-hidden shadow-none">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="flex-grow-1">
                                            <h6 class="mb-0"><b class="text-secondary">57%</b></h6>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <h6 class="mb-0">Faculties Subject to Review for Promotion</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress bg-secondary-subtle rounded-0">
                                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 57%" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="card bg-light overflow-hidden shadow-none">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="flex-grow-1">
                                            <h6 class="mb-0"><b class="text-success">15%</b></h6>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <h6 class="mb-0">Low Rating Faculties</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress bg-success-subtle rounded-0">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="card bg-light overflow-hidden shadow-none">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="flex-grow-1">
                                            <h6 class="mb-0"><b class="text-danger">43%</b></h6>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <h6 class="mb-0">Unpromoted Faculties</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress bg-danger-subtle rounded-0">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'js/main/eval_upload/eval_u_datentime.js' %}"></script>
        <script src="{% static 'js/main/merit/merit_datatable.js' %}"></script>


{% endblock %}