{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card mt-n4 mx-n4">
                    <div class="bg-primary-subtle">
                        <div class="card-body px-4 pb-4">
                            <div class="row mb-3">
                                <div class="col-md">
                                    <div class="row align-items-center g-3">
                                        <div class="col-md-auto">
                                            <div class="avatar-md">
                                                <div class="avatar-title bg-transparent">
                                                    <i class="ri-medal-line" style="font-size: 3rem !important;"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div>
                                                <h4 class="fw-bold text-white">Faculty Performance Ranking</h4>
                                                <div class="hstack gap-3 flex-wrap text-white">
                                                    <div id="evalBreadtime"><i class="ri-map-pin-2-line align-bottom me-1"></i></div>
                                                    <div class="vr"></div>
                                                    <div>Post Date : <span id="evalBreaddate"></span></div>
                                                    <div class="vr"></div>
                                                    <div>Your Designation: <div class="badge rounded-pill bg-secondary fs-12">Academic Head</div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        
        <div class="row project-wrapper mt-n5">

            <div class="col-xxl-4">
                <div class="card card-height-100">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Faculty Evaluation Ranking</h4>
                    </div>
                    <div class="card-body p-4">
                        <table id="faculty_perf" class="display table table-bordered dt-responsive dataTable dtr-inline" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Faculty</th>
                                    <th>Rank Placement</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4">
                <div class="card card-height-100">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Professional Development Ranking</h4>
                    </div>
                    <div class="card-body p-4">
                        <table id="develope_perf" class="display table table-bordered dt-responsive dataTable dtr-inline" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Faculty</th>
                                    <th>Rank Placement</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4">
                <div class="card card-height-100">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Research Publications Ranking</h4>
                    </div>
                    <div class="card-body p-4">
                        <table id="research_perf" class="display table table-bordered dt-responsive dataTable dtr-inline" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Faculty</th>
                                    <th>Rank Placement</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
        <script src="{% static 'js/main/eval_upload/eval_u_datentime.js' %}"></script>
        <script src="{% static 'js/main/pro_dev/prod_activities.js' %}"></script>

        <script>
            $(document).ready(function () {
                function showLoader(tableId) {
                    $(tableId + ' tbody').html('<tr><td colspan="2"><center><div class="spinner-border spinner-border-sm text-primary" role="status" style="margin-top: 20px;"></div></center><br><center><span class="sr-only" >Please wait while we get things ready for you.</span></center></tr>');
                }
                function hideLoaderAndPopulateTable(data, tableId, column1, column2) {
                    $(tableId).DataTable({
                        "processing": true,
                        "searching": true,
                        "pagingType" : "simple_numbers",
                        "paging": true,
                        "lengthChange": true,
                        "ordering": true,
                        "order": [],
                        "data": data,
                        "columns": [
                            { "data": column1 },
                            { "data": column2 }
                        ],
                        "orderFixed": [[1, 'asc']],
                        "orderData": [[0,1]],
                        "language": { 
                            "paginate": {
                                "previous": "&laquo;",
                                "next": "&raquo;"
                            }
                        }
                    });
                    if (data.length === 0) {
                        $(tableId + ' tbody').html('<tr><td colspan="2"><center>No data available</center></td></tr>');
                    }
                }
                $.ajax({
                    url: "rankings",
                    type: "GET",
                    dataType: "json",
                    beforeSend: function() {
                        showLoader('#develope_perf');
                        showLoader('#research_perf');
                        showLoader('#faculty_perf');
                    },
                    success: function(response) {
                        hideLoaderAndPopulateTable(response.profesnl, '#develope_perf', 'Faculty', 'Ranking');
                        hideLoaderAndPopulateTable(response.research, '#research_perf', 'Author', 'Ranking');
                        hideLoaderAndPopulateTable(response.evaluate, '#faculty_perf', 'Faculty', 'Ranking');
                    },
                    error: function(xhr, status, error) {
                        console.error("An error occurred while fetching data: ", error);
                        $('#develope_perf tbody').html('<tr><td colspan="2"><center>An error occurred while fetching data.</center></td></tr>');
                        $('#research_perf tbody').html('<tr><td colspan="2"><center>An error occurred while fetching data.</center></td></tr>');
                        $('#faculty_perf tbody').html('<tr><td colspan="2"><center>An error occurred while fetching data.</center></td></tr>');
                    }
                });
            });
        </script>
{% endblock %}