{% extends 'base.html' %}
{% load static %}
{% block content %}
        <style>
            @media print {
                .noPrint{
                    display:none;
                }
            }

            @media (min-width: 1200px) {
                .modal-xl {
                    --vz-modal-width: 1700px !important;
                }
            }

            @media (min-width: 2000px) {
                .modal-xl {
                    --vz-modal-width: 1440px !important;
                }
            }
        </style>
        <div class="row">
            <div class="col-lg-12">
                <div class="card mt-n4 mx-n4">
                    <div class="bg-primary-subtle">
                        <div class="card-body px-4 pb-4">
                            <div class="row mb-3">
                                <div class="col-md">
                                    <div class="row align-items-center g-3">
                                        <div class="col-md-auto">
                                            <div class="avatar-md">
                                                <div class="avatar-title bg-transparent">
                                                    <i class="ri-user-settings-line" style="font-size: 3rem !important;"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div>
                                                    <h4 class="fw-bold text-white">Faculty Development Analytics</h4>
                                                <div class="hstack gap-3 flex-wrap text-white">
                                                    <div id="evalBreadtime"><i class="ri-map-pin-2-line align-bottom me-1"></i></div>
                                                    <div class="vr"></div>
                                                    <div>Post Date : <span id="evalBreaddate"></span></div>
                                                    <div class="vr"></div>
                                                    <div>Your Designation: <div class="badge rounded-pill bg-secondary fs-12">Academic Head</div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Extra Large modal example -->
                <div class="modal fade eval_analytics" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myExtraLargeModalLabel">List of Professional Development Activities</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table id="prodev_table_programs" class="display table table-bordered dt-responsive dataTable dtr-inline" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Program Title</th>
                                            <th>Program Start</th>
                                            <th>Program End</th>
                                            <th>Program Speaker</th>
                                            <th>Program Type</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <th><input type="text" class="form-control input-sm mt-2" placeholder="Search by Program Title" id="searchTitle" value=""></th>
                                            <th><input type="text" class="form-control input-sm mt-2" placeholder="Search by Start Date" id="searchStart" value=""></th>
                                            <th><input type="text" class="form-control input-sm mt-2" placeholder="Search by End Date" id="searchEnd" value=""></th>
                                            <th><input type="text" class="form-control input-sm mt-2" placeholder="Search by Speaker" id="searcherSpeaker" value=""></th>
                                            <th><input type="text" class="form-control input-sm mt-2" placeholder="Search by Program Type" id="searchType" value=""></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:void(0);" class="btn btn-link link-success shadow-none fw-medium" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Extra Large modal example -->
                <div class="modal fade prodev_attendees" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myExtraLargeModalLabel">List of Professional Development Attendees</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table id="xxten" class="display table table-bordered dt-responsive dataTable dtr-inline" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Titles</th>
                                            <th>Duration/Date</th>
                                            <th>Type</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot> 
                                        <tr>
                                            <th><input type="text" class="form-control input-sm mt-2" placeholder="Search by Program Title" id="searchFaculty" value=""></th>
                                            <th><input type="text" class="form-control input-sm mt-2" placeholder="Search by Start Date"    id="searchTitles" value=""></th>
                                            <th><input type="text" class="form-control input-sm mt-2" placeholder="Search by End Date"      id="searchDuration" value=""></th>
                                            <th><input type="text" class="form-control input-sm mt-2" placeholder="Search by Speaker"       id="searchType" value=""></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:void(0);" class="btn btn-link link-success shadow-none fw-medium" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        </div>
        {% comment %} Workshop, Training, and Seminar Attendance Rates {% endcomment %}
        <div class="row mt-n5">
            <div class="col-lg-12">
                <div class="card card-height-100">
        
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Professional Development Programs</h4>
                        <button class="col-2 btn btn-info btn-icon" style="margin-right: 1rem !important;" data-bs-toggle="modal" data-bs-target=".eval_analytics">
                            <i class="ri-eye-line"></i>
                        </button>
                    </div>

                    <div class="card-body" style="padding: 2rem !important;">
                        <div id="line_chart_datalabel" class="apex-charts" dir="ltr"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% comment %} Institutional Professional Development Status {% endcomment %}
            <div class="col-lg-4">
                <div class="card card-height-100">
                    <div class="card-header border-0 align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Institutional Professional Development Status</h4>

                        <label class="col-3 m-0" style="padding-right: 1rem !important;">
                            <select id="prodevTypesYearFilter" onchange="prodevPieChartsUpdate(event)" class="form-select form-select-sm"></select>
                        </label>
                    </div>
                    
                    <div class="card-header p-0 border-0 bg-light-subtle">
                        <div class="row g-0 text-center">
                            <div class="col-6 col-sm-6">
                                <div class="p-3 border border-dashed border-start-0">
                                    <h5 class="mb-1">
                                        <span class="counter-value" data-target="{{ program_types_total }}">0</span>
                                    </h5>
                                    <p class="text-muted mb-0">Total Programs Conducted</p>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-6 col-sm-6">
                                <div class="p-3 border border-dashed border-start-0">
                                    <h5 class="mb-1">
                                        <span class="counter-value" data-target="{{ program_types_total_now }}">0</span>
                                    </h5>
                                    <p class="text-muted mb-0">Present Program Conducted</p>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                    </div>
                    
                    <div class="card-body mt-4 mb-4 p-0 pb-2">
                        <div id="simple_pie_charts" dir="ltr"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card card-height-100">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Programs Conducted</h4>
                        <label class="col-2 m-0" style="padding-right: 1rem !important;">
                            <select id="prodevYearFilter" onchange="prodevChartsUpdate(event)" class="form-select form-select-sm"></select>
                        </label>
                        <button class="col-2 btn btn-info btn-icon" style="margin-right: 1rem !important;" data-bs-toggle="modal" data-bs-target=".prodev_attendees">
                            <i class="ri-eye-line"></i>
                        </button>
                    </div>
                    <div class="card-body" style="padding: 2rem !important;">
                        <div id="market-overviews"  class="apex-charts mt-n4"></div>
                    </div>
                </div>
            </div>



            {% comment %} Faculty Development Comparison 
            <div class="col-lg-4">
                <div class="card card-height-100">
                    <div class="card-header border-0 align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Faculty Development Comparison</h4>
                    </div>
                    <div class="card-header p-0 border-0 bg-light-subtle">
                        <div class="row g-0 text-center">
                            <div class="col-6 col-sm-6">
                                <div class="p-3 border border-dashed border-start-0">
                                    <h5 class="mb-1"><span class="counter-value" data-target="12">0</span>
                                        <span class="text-success ms-1 fs-12">20%<i class="ri-arrow-right-up-line ms-1 align-middle"></i></span>
                                    </h5>
                                    <p class="text-muted mb-0">New Faculties</p>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-6 col-sm-6">
                                <div class="p-3 border border-dashed border-start-0 border-end-0">
                                    <h5 class="mb-1">
                                        <span class="counter-value" data-target="47">0</span>
                                        <span class="text-success ms-1 fs-12">37%<i class="ri-arrow-right-up-line ms-1 align-middle"></i></span>
                                    </h5>
                                    <p class="text-muted mb-0">Skill Awarded</p>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                    </div>
                    <div class="card-body p-0 pb-2">
                        <div id="simple_dount_charts" class="apex-charts mt-5" dir="ltr"></div>
                    </div>
                </div>
            </div>{% endcomment %}
            {% comment %} Professional Development Summary 
            <div class="col-lg-4">
                <div class="card card-height-100">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Professional Development Summary</h4>
                        <div class="flex-shrink-0">
                            <div class="dropdown card-header-dropdown">
                                <a class="dropdown-btn text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort by time <i class="mdi mdi-chevron-down ms-1"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">All Time</a>
                                    <a class="dropdown-item" href="#">Last 7 Days</a>
                                    <a class="dropdown-item" href="#">Last 30 Days</a>
                                    <a class="dropdown-item" href="#">Last 90 Days</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div id="prjects-statuses" data-colors='["--vz-success", "--vz-primary", "--vz-warning", "--vz-danger"]' class="apex-charts" dir="ltr"></div>
                        <div class="mt-3">
                            <div class="d-flex justify-content-center align-items-center mb-4">
                                <h2 class="me-3 ff-secondary mb-0">317</h2>
                                <div>
                                    <p class="text-muted mb-0">Total Trainings Conducted</p>
                                    <p class="text-success fw-medium mb-0">
                                        <span class="badge bg-success-subtle text-success p-1 rounded-circle"><i class="ri-arrow-right-up-line"></i></span> +3 New
                                    </p>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-medium mb-0"><i class="ri-checkbox-blank-circle-fill text-success align-middle me-2"></i>
                                    Completed</p>
                                <div>
                                    <span class="text-muted pe-5">189 Overall Total</span>
                                    <span class="text-success fw-medium fs-12">15870hrs</span>
                                </div>
                            </div><!-- end -->
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-medium mb-0"><i class="ri-checkbox-blank-circle-fill text-primary align-middle me-2"></i>
                                    Workshops</p>
                                <div>
                                    <span class="text-muted pe-5">42 Workshops Completed</span>
                                    <span class="text-success fw-medium fs-12">243hrs</span>
                                </div>
                            </div><!-- end -->
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-medium mb-0"><i class="ri-checkbox-blank-circle-fill text-warning align-middle me-2"></i>
                                    Seminars</p>
                                <div>
                                    <span class="text-muted pe-5">58 Seminars Conducted</span>
                                    <span class="text-success fw-medium fs-12">2050hrs</span>
                                </div>
                            </div><!-- end -->
                            <div class="d-flex justify-content-between py-2">
                                <p class="fw-medium mb-0"><i class="ri-checkbox-blank-circle-fill text-danger align-middle me-2"></i>
                                    Trainings</p>
                                <div>
                                    <span class="text-muted pe-5">89 Training Completed</span>
                                    <span class="text-success fw-medium fs-12">900hrs</span>
                                </div>
                            </div><!-- end -->
                        </div>
                    </div><!-- end cardbody -->
                </div>
            </div>{% endcomment %}
        </div>
            
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
        <script src="{% static 'js/main/eval_upload/eval_u_datentime.js' %}"></script>
        <script src="{% static 'js/main/pro_dev/prod_activities.js' %}"></script>

        {% comment %} Workshop, Training, and Seminar Attendance Rates {% endcomment %}
        <script>
            $(document).ready(function(){
                var programCountsData = JSON.parse('{{ prodev_programs|safe }}');
                var prodev_data = Object.values(programCountsData);
                var prodev_progYears = Object.keys(programCountsData);
        
                var options = {
                    chart: { height: 350, type: "bar", toolbar: { show: !1 } },
                    dataLabels: { enabled: !1 },
                    stroke: { width: [3, 3], curve: "smooth" },
                    markers: { style: "inverted", size: 6 },
                    series: [
                        { name: 'No. of Programs Conducted', data: prodev_data },
                    ],
                    colors: [getComputedStyle(document.documentElement).getPropertyValue('--vz-info')],
                    grid: { borderColor: "#f1f1f1" },
                    xaxis: {
                        categories: prodev_progYears,
                        title: {
                            text: 'Program Counts'
                        }
                    },
                    yaxis: {
                        title: {
                            text: 'Years',
                        }
                    },
                    fill: {
                        opacity: 1
                    },
                };
        
                var chart = new ApexCharts(document.querySelector("#market-overviews"), options );
                chart.render();
                
                var yearFilterDropdown = document.getElementById('prodevYearFilter');
                var prod_DisplayAll = document.createElement('option');
                    prod_DisplayAll.value = 'all';
                    prod_DisplayAll.text = 'Display All';
                    yearFilterDropdown.add(prod_DisplayAll);
        
                prodev_progYears.forEach(year => {
                    var option = document.createElement('option');
                    option.value = year;
                    option.text = year;
                    yearFilterDropdown.appendChild(option);
                });
        
                function prodevChartsUpdate(event) {
                    if (event) {
                        event.preventDefault();
                    }
                    var selectedYear = yearFilterDropdown.value;
                    var filteredData = {};
        
                    if (selectedYear === 'all') {
                        chart.updateOptions({ xaxis: { categories: prodev_progYears } });
                        chart.updateSeries([{ data: prodev_data }]);
                    } else {
                        var filteredCounts = prodev_data.filter(function(item, index) {
                            return prodev_progYears[index] === selectedYear;
                        });
                        chart.updateOptions({ xaxis: { categories: [selectedYear] } });
                        chart.updateSeries([{ data: filteredCounts }]);
                    }
                }
                
                yearFilterDropdown.addEventListener('change', prodevChartsUpdate);
            });
        </script>
        
        {% comment %} Programs Conducted {% endcomment %}
        <script>
            $(document).ready(function(){
                // Assuming you've already passed the data from Django to the template using context
                var programsDistinctCounts = JSON.parse('{{ program_distinctCounts|escapejs }}');
                var programsDistinct = JSON.parse('{{ program_distinct|escapejs }}');
        
                var options = {
                    chart: {
                        height: 380,
                        type: "bar",
                        zoom: { enabled: !1 },
                        toolbar: { show: !1 },
                    },
                    colors: [
                        getComputedStyle(document.documentElement).getPropertyValue('--vz-info'),
                        getComputedStyle(document.documentElement).getPropertyValue('--vz-primary'),
                        getComputedStyle(document.documentElement).getPropertyValue('--vz-secondary'),
                        getComputedStyle(document.documentElement).getPropertyValue('--vz-dark'),
                    ],
                    dataLabels: { enabled: !1 },
                    series: [{
                        name: 'Counts',
                        data: programsDistinctCounts.map(item => item.count)
                    }],
                    title: {
                        text: "Program Types:",
                        align: "left",
                        style: { fontWeight: 500 },
                    },
                    grid: {
                        row: { colors: ["transparent", "transparent"], opacity: 0.2 },
                        borderColor: "#f1f1f1",
                    },
                    xaxis: {
                        categories: programsDistinct,
                        title: { text: "Programs" },
                    },
                    yaxis: { title: { text: "Counts" } },
                    legend: {
                        position: "top",
                        horizontalAlign: "right",
                        floating: !0,
                        offsetY: -25,
                        offsetX: -5,
                    },
                    responsive: [
                        {
                            breakpoint: 600,
                            options: { chart: { toolbar: { show: !1 } }, legend: { show: !1 } },
                        },
                    ],
                }
                var hnzchart = new ApexCharts(document.querySelector("#line_chart_datalabel"), options)
                hnzchart.render()
            });
        </script>
        
        {% comment %} Institutional Professional Development Status: Pie Graph {% endcomment %}
        <script>
            $(document).ready(function(){
                var programTypes = JSON.parse('{{ program_types|safe }}');
                var labels = [];
                var originalSeries = []; // Store original series data
                var filteredSeries = [];
        
                for (var year in programTypes) {
                    for (var type in programTypes[year]) {
                        labels.push(type);
                        originalSeries.push(programTypes[year][type]); // Store original series data
                    }
                }
        
                var options = {
                    series: originalSeries, // Use original series data initially
                    chart: { height: 300, type: "pie" },
                    labels: labels,
                    legend: { position: "bottom" },
                    dataLabels: { dropShadow: { enabled: !1 } },
                    colors: [
                        getComputedStyle(document.documentElement).getPropertyValue('--vz-info'),
                        getComputedStyle(document.documentElement).getPropertyValue('--vz-primary'),
                        getComputedStyle(document.documentElement).getPropertyValue('--vz-secondary'),
                        getComputedStyle(document.documentElement).getPropertyValue('--vz-dark'),
                    ],
                };
                
                var proChart = new ApexCharts(document.querySelector("#simple_pie_charts"), options);
                proChart.render();
        
                var yearFilterDropdown = document.getElementById('prodevTypesYearFilter');
                var prodTypes_DisplayAll = document.createElement('option');
                prodTypes_DisplayAll.value = 'all';
                prodTypes_DisplayAll.text = 'Display All';
                yearFilterDropdown.add(prodTypes_DisplayAll);
        
                for (var year in programTypes) {
                    var option = document.createElement('option');
                    option.value = year;
                    option.text = year;
                    yearFilterDropdown.appendChild(option);
                }
        
                function prodevPieChartsUpdate(event) {
                    if (event) {
                        event.preventDefault();
                    }
                    var selectedYear = yearFilterDropdown.value;
        
                    if (selectedYear === 'all') {
                        // If "Display All" is selected, show all original data
                        proChart.updateOptions({ series: originalSeries });
                    } 
                    else {
                        // Filter data based on the selected year
                        filteredSeries = [];
        
                        for (var year in programTypes) {
                            if (year == selectedYear) {
                                for (var type in programTypes[year]) {
                                    filteredSeries.push(programTypes[year][type]);
                                }
                                break; 
                            }
                        }
        
                        proChart.updateOptions({ series: filteredSeries });
                    }
                }
        
                yearFilterDropdown.addEventListener('change', prodevPieChartsUpdate);
            });
        </script>
        
        <script>
            $(document).ready(function () {
                var dataTable = $('#xxten').DataTable({
                    "processing": true,
                    "searching": true,
                    "paging": true,
                    "lengthChange": true,
                    "ordering": true,
                    "ajax": {
                        "url": "prodev_c",
                        "dataSrc": ""
                    },  
                    "columns": [
                        { "data": "name"  },
                        { "data": "title" },
                        { "data": "date"  },
                        { "data": "type"  },
                    ]
                });
            
                $('#searchFaculty, #searchTitles, #searchDuration, #searchType').on('keyup', function () {
                    dataTable.column($(this).parent().index() + ':visible').search(this.value).draw();
                });
            
                if (dataTable.data().count() === 0) {
                    $('#xxten tbody').html('<tr><td colspan="9"><center>There is currently no data in the database.</center></td></tr>');
                }
            });
        </script>
        
{% endblock %}