{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        @media print {
            .noPrint{
                display:none;
            }
        }
    </style>

        <div class="row">
            <div class="col-lg-12">
                <div class="card mt-n4 mx-n4">
                    <div class="bg-primary-subtle">
                        <div class="card-body px-4 pb-4">
                            <div class="row mb-3">
                                <div class="col-md">
                                    <div class="row align-items-center g-3">
                                        <div class="col-md-auto">
                                            <div class="avatar-md">
                                                <div class="avatar-title bg-transparent">
                                                    <i class="ri-book-open-fill" style="font-size: 3rem !important;"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div>
                                                    <h4 class="fw-bold text-white">Research and Publications Analytics</h4>
                                                <div class="hstack gap-3 flex-wrap text-white">
                                                    <div id="evalBreadtime"><i class="ri-map-pin-2-line align-bottom me-1"></i></div>
                                                    <div class="vr"></div>
                                                    <div>Post Date : <span id="evalBreaddate"></span></div>
                                                    <div class="vr"></div>
                                                    <div>Your Designation: <div class="badge rounded-pill bg-secondary fs-12">Academic Head</div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Extra Large modal example -->
                <div class="modal fade bs-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myExtraLargeModalLabel">List of Research Publications</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table id="rsrch_dtble" class="display table table-bordered dt-responsive dataTable dtr-inline" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Author</th>
                                            <th>Research Title</th>
                                            <th>Publication Year</th>
                                            <th>Publisher</th>
                                            <th>Category</th>
                                            <th>Author Type</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <th><input type="text" class="form-control input-sm mt-2" placeholder="Search by Author" id="searchAuthor" value=""></th>
                                            <th><input type="text" class="form-control input-sm mt-2" placeholder="Search by Research Title" id="searchTitle" value=""></th>
                                            <th><input type="text" class="form-control input-sm mt-2" placeholder="Search by Publication" id="searchYear" value=""></th>
                                            <th><input type="text" class="form-control input-sm mt-2" placeholder="Search by Publisher" id="searchPublisher" value=""></th>
                                            <th><input type="text" class="form-control input-sm mt-2" placeholder="Search by Category" id="searchCategory" value=""></th>
                                            <th><input type="text" class="form-control input-sm mt-2" placeholder="Search by Author Type" id="searchAuthorType" value=""></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:void(0);" class="btn btn-link link-success shadow-none fw-medium" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        </div>

        <div class="row mt-n5">
            <div class="col-lg-12">
                <div class="card card-height-100">
                    <div class="card-header border-0 align-items-center d-flex">
                        <h4 class="col-7 card-title mb-0 flex-grow-1">
                            Average Rating Based Faculty Performance Development in Research Methodologies
                        </h4>
                
                        <label class="col-1" style="padding-right: 1rem !important;">
                            <select id="rsrch_year_filter" onchange="rsrch_updateChart()" class="form-select form-select-sm"></select>
                        </label>

                        <button class="col-1 btn btn-info btn-icon mb-2" style="margin-right: 1rem !important;" data-bs-toggle="modal" data-bs-target=".bs-example-modal-xl">
                            <i class="ri-eye-line"></i>
                    </div>
                    <div class="card-header p-0 border-0 bg-light-subtle">
                        <div class="row g-0 text-center">
                            <div class="col-6 col-sm-6">
                                <div class="p-3 border border-dashed border-start-0">
                                    <h5 class="counter-count text-success">
                                        <span class="ms-1e">
                                            {% if js_highest_year %}
                                                {{ js_highest_year|safe }}
                                            {% else %}
                                                0000
                                            {% endif %}
                                        </span>
                                    </h5>
                                    <p class="text-muted mb-0">Most Research Productive Year</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6">
                                <div class="p-3 border border-dashed border-start-0 border-end-0">
                                    <h5 class="counter-count text-warning">
                                        <span class="ms-1">
                                            {% if js_highest_year %}
                                                {{ js_lowest_year|safe }}
                                            {% else %}
                                                0000
                                            {% endif %}
                                        </span>
                                    </h5>
                                    <p class="text-muted mb-0">Least Research Productive Year</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="card-header">
                                <h4 class="card-title mb-0 flex-grow-1"></h4>
                            </div>
                            <div id="grouped-counted-data" style="display: none;"></div>
                            <div id="rsrch_counts"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Present Academic University Research Goals</h4>
                    </div>
                    <div class="card-body">
                        {% comment %} <div id="basic_radialbar" data-colors='["--vz-success"]' class="apex-charts" dir="ltr"></div> {% endcomment %}
                        {% comment %} <div id="specific-year-data" style="display: none;">{{ js_specific_data }}</div> {% endcomment %}
                        <div id="basic_radialbar"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card card-height-100">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="col-10 card-title mb-0 justify-content-around">
                            Analytical Research Bound and Published  Over Years
                        </h4>
                    </div>

                    <div class="card-body">
                        <div id="multiple_radialbar" class="apex-charts" dir="ltr"></div>
                    </div>
                </div>
            </div>
        </div>
    
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/main/research/rsrch_tracks.js' %}"></script>
    <script src="{% static 'js/main/eval_upload/eval_u_datentime.js' %}"></script>
    <script src="{% static 'js/main/research/rsrch_analytics.js' %}"></script>


    {% comment %} Average Rating Per Performance Development in Research {% endcomment %}
    <script>
        var base_response = JSON.parse('{{ response_call|safe }}')
        var groupedCountedData = JSON.parse('{{ js_grouped_counted|safe }}');
    </script>
    <script src="{% static 'js/main/research/rsrch_peryear.js' %}"></script>

    {% comment %} Present Academic University Research Goals {% endcomment %}
    <script>
        var base_response = JSON.parse('{{ response_call|safe }}')
        var specificYearData = JSON.parse('{{ js_specific_data|safe }}');
    </script>
    <script src="{% static 'js/main/research/rsrch_present.js' %}"></script>

    {% comment %} Analytical Research Bound and Published Over Years  {% endcomment %}
    <script>
        var base_response = JSON.parse('{{ response_call|safe }}')
        var TotalResearch = parseInt('{{ js_totalresearch|safe }}');
        var GroupPercent = JSON.parse('{{ js_grouped_percent|safe }}');
    </script>
    <script src="{% static 'js/main/research/rsrch_stat_peryear.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
{% endblock %}