{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="row">
            <div class="col-lg-12">
                <div class="card mt-n4 mx-n4">
                    <div class="bg-primary-subtle">
                        <div class="card-body px-4 pb-4">
                            <div class="row mb-3">
                                <div class="col-md">
                                    <div class="row align-items-center g-3">
                                        <div class="col-md-auto">
                                            <div class="avatar-md">
                                                <div class="avatar-title bg-transparent">
                                                    <i class="ri-run-line" style="font-size: 3rem !important;"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div>
                                                    <h4 class="fw-bold text-white">Retention Insights & Feedbacks</h4>
                                                <div class="hstack gap-3 flex-wrap text-white">
                                                    <div id="evalBreadtime"><i class="ri-map-pin-2-line align-bottom me-1"></i></div>
                                                    <div class="vr"></div>
                                                    <div>Post Date : <span id="evalBreaddate"></span></div>
                                                    <div class="vr"></div>
                                                    <div>Your Designation: <div class="badge rounded-pill bg-secondary fs-12">Academic Head</div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-n5">
            <div class="col-xxl-12">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Retention and Exit Insights</h4>
                        <div class="flex-shrink-0">
                            <button type="button" class="btn btn-soft-info btn-sm">
                                <i class="ri-file-list-3-line align-bottom"></i> Generate Report
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive table-card">
                            <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                <thead class="text-muted table-light">
                                    <tr>
                                        <th scope="col">Email</th>
                                        <th scope="col">Faculty Name</th>
                                        <th scope="col">Designation</th>
                                        <th scope="col">Salary</th>
                                        <th scope="col">Feedback</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Faculty Rating</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#!" class="fw-medium link-primary">facultynumberone@pup.edu.ph</a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src="{% static 'images/users/avatar-1.jpg' %}" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">Ben Agbayani</div>
                                            </div>
                                        </td>
                                        <td>Part-time Instructor</td>
                                        <td>
                                            <span class="text-success">₱49,000.00</span>
                                        </td>
                                        <td>The university is good, and also the work env. but I need a break. I need to find myself, It's not you, it's me. </td>
                                        <td>
                                            <span class="badge bg-secondary-subtle text-secondary">Part-time Designee</span>
                                        </td>
                                        <td>
                                            <h5 class="fs-14 fw-medium mb-0">5.0<span class="text-muted fs-11 ms-1"></span></h5>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#!" class="fw-medium link-primary">facultynumbertwo@pup.edu.ph</a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src="{% static 'images/users/avatar-2.jpg' %}" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">Elizabeth Olsen</div>
                                            </div>
                                        </td>
                                        <td>Regular Instructor</td>
                                        <td>
                                            <span class="text-success">₱39,500.00</span>
                                        </td>
                                        <td>
                                            bkit uhaw sayong sayaw? bakit ikaw? di bibitaw, sayong sayo, laging ikaw. ako'y giniginaw, bigyan ng jacket yan
                                        </td>
                                        <td>
                                            <span class="badge bg-warning-subtle text-warning">Part-time Non Designee</span>
                                        </td>
                                        <td>
                                            <h5 class="fs-14 fw-medium mb-0">4.5<span class="text-muted fs-11 ms-1"></span></h5>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#!" class="fw-medium link-primary">facultynumberthree@pup.edu.ph</a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src=" {% static 'images/users/avatar-3.jpg' %}" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">Jay Cassiopeia</div>
                                            </div>
                                        </td>
                                        <td>Faculty</td>
                                        <td>
                                            <span class="text-success">₱25,000.00</span>
                                        </td>
                                        <td>
                                            I knew my rent was gon' be late about a week ago I worked my ass off, but I still can't pay it though
                                        </td>
                                        <td>
                                            <span class="badge bg-success-subtle text-success">Regular Designee</span>
                                        </td>
                                        <td>
                                            <h5 class="fs-14 fw-medium mb-0">4.9<span class="text-muted fs-11 ms-1"></span></h5>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#!" class="fw-medium link-primary">facultynumberfour@pup.edu.ph</a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src=" {% static 'images/users/avatar-6.jpg' %}" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">Christine Eme</div>
                                            </div>
                                        </td>
                                        <td>Faculty</td>
                                        <td>
                                            <span class="text-success">₱25,530.00</span>
                                        </td>
                                        <td>
                                            Dibaa, nakakap*******aaa! Tayo'y lumilipad, at ako'y iniwan mo ohh, diba ahuashdhaahaa?
                                        </td>
                                        <td>
                                            <span class="badge bg-success-subtle text-success">Regular Designee</span>
                                        </td>
                                        <td>
                                            <h5 class="fs-14 fw-medium mb-0">4.9<span class="text-muted fs-11 ms-1"></span></h5>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#!" class="fw-medium link-primary">facultynumberfive@pup.edu.ph</a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src="{% static 'images/users/avatar-7.jpg' %}" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">Rick N. Morty</div>
                                            </div>
                                        </td>
                                        <td>Regular Instructor</td>
                                        <td>
                                            <span class="text-success">₱69,223.00</span>
                                        </td>
                                        <td>
                                            Ano tawag sa tumatalon na sardinas? Edi, Tipaklong! Ngek!
                                        </td>
                                        <td>
                                            <span class="badge bg-warning-subtle text-warning">Part-time Non Designee</span>
                                        </td>
                                        <td>
                                            <h5 class="fs-14 fw-medium mb-0">3.0<span class="text-muted fs-11 ms-1"></span></h5>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#!" class="fw-medium link-primary">facultynumberone@pup.edu.ph</a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src="{% static 'images/users/avatar-1.jpg' %}" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">Ben Agbayani</div>
                                            </div>
                                        </td>
                                        <td>Part-time Instructor</td>
                                        <td>
                                            <span class="text-success">₱49,000.00</span>
                                        </td>
                                        <td>The university is good, and also the work env. but I need a break. I need to find myself, It's not you, it's me. </td>
                                        <td>
                                            <span class="badge bg-secondary-subtle text-secondary">Part-time Designee</span>
                                        </td>
                                        <td>
                                            <h5 class="fs-14 fw-medium mb-0">5.0<span class="text-muted fs-11 ms-1"></span></h5>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#!" class="fw-medium link-primary">facultynumbertwo@pup.edu.ph</a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src="{% static 'images/users/avatar-2.jpg' %}" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">Elizabeth Olsen</div>
                                            </div>
                                        </td>
                                        <td>Regular Instructor</td>
                                        <td>
                                            <span class="text-success">₱39,500.00</span>
                                        </td>
                                        <td>
                                            bkit uhaw sayong sayaw? bakit ikaw? di bibitaw, sayong sayo, laging ikaw. ako'y giniginaw, bigyan ng jacket yan
                                        </td>
                                        <td>
                                            <span class="badge bg-warning-subtle text-warning">Part-time Non Designee</span>
                                        </td>
                                        <td>
                                            <h5 class="fs-14 fw-medium mb-0">4.5<span class="text-muted fs-11 ms-1"></span></h5>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#!" class="fw-medium link-primary">facultynumberthree@pup.edu.ph</a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src=" {% static 'images/users/avatar-3.jpg' %}" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">Jay Cassiopeia</div>
                                            </div>
                                        </td>
                                        <td>Faculty</td>
                                        <td>
                                            <span class="text-success">₱25,000.00</span>
                                        </td>
                                        <td>
                                            I knew my rent was gon' be late about a week ago I worked my ass off, but I still can't pay it though
                                        </td>
                                        <td>
                                            <span class="badge bg-success-subtle text-success">Regular Designee</span>
                                        </td>
                                        <td>
                                            <h5 class="fs-14 fw-medium mb-0">4.9<span class="text-muted fs-11 ms-1"></span></h5>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#!" class="fw-medium link-primary">facultynumberfour@pup.edu.ph</a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src=" {% static 'images/users/avatar-6.jpg' %}" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">Christine Eme</div>
                                            </div>
                                        </td>
                                        <td>Faculty</td>
                                        <td>
                                            <span class="text-success">₱25,530.00</span>
                                        </td>
                                        <td>
                                            Dibaa, nakakap*******aaa! Tayo'y lumilipad, at ako'y iniwan mo ohh, diba ahuashdhaahaa?
                                        </td>
                                        <td>
                                            <span class="badge bg-success-subtle text-success">Regular Designee</span>
                                        </td>
                                        <td>
                                            <h5 class="fs-14 fw-medium mb-0">4.9<span class="text-muted fs-11 ms-1"></span></h5>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#!" class="fw-medium link-primary">facultynumberfive@pup.edu.ph</a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src="{% static 'images/users/avatar-7.jpg' %}" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">Rick N. Morty</div>
                                            </div>
                                        </td>
                                        <td>Regular Instructor</td>
                                        <td>
                                            <span class="text-success">₱69,223.00</span>
                                        </td>
                                        <td>
                                            Ano tawag sa tumatalon na sardinas? Edi, Tipaklong! Ngek!
                                        </td>
                                        <td>
                                            <span class="badge bg-warning-subtle text-warning">Part-time Non Designee</span>
                                        </td>
                                        <td>
                                            <h5 class="fs-14 fw-medium mb-0">3.0<span class="text-muted fs-11 ms-1"></span></h5>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#!" class="fw-medium link-primary">facultynumbertwo@pup.edu.ph</a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src="{% static 'images/users/avatar-2.jpg' %}" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">Elizabeth Olsen</div>
                                            </div>
                                        </td>
                                        <td>Regular Instructor</td>
                                        <td>
                                            <span class="text-success">₱39,500.00</span>
                                        </td>
                                        <td>
                                            bkit uhaw sayong sayaw? bakit ikaw? di bibitaw, sayong sayo, laging ikaw. ako'y giniginaw, bigyan ng jacket yan
                                        </td>
                                        <td>
                                            <span class="badge bg-warning-subtle text-warning">Part-time Non Designee</span>
                                        </td>
                                        <td>
                                            <h5 class="fs-14 fw-medium mb-0">4.5<span class="text-muted fs-11 ms-1"></span></h5>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#!" class="fw-medium link-primary">facultynumberthree@pup.edu.ph</a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src=" {% static 'images/users/avatar-3.jpg' %}" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">Jay Cassiopeia</div>
                                            </div>
                                        </td>
                                        <td>Faculty</td>
                                        <td>
                                            <span class="text-success">₱25,000.00</span>
                                        </td>
                                        <td>
                                            I knew my rent was gon' be late about a week ago I worked my ass off, but I still can't pay it though
                                        </td>
                                        <td>
                                            <span class="badge bg-success-subtle text-success">Regular Designee</span>
                                        </td>
                                        <td>
                                            <h5 class="fs-14 fw-medium mb-0">4.9<span class="text-muted fs-11 ms-1"></span></h5>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#!" class="fw-medium link-primary">facultynumberfour@pup.edu.ph</a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src=" {% static 'images/users/avatar-6.jpg' %}" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">Christine Eme</div>
                                            </div>
                                        </td>
                                        <td>Faculty</td>
                                        <td>
                                            <span class="text-success">₱25,530.00</span>
                                        </td>
                                        <td>
                                            Dibaa, nakakap*******aaa! Tayo'y lumilipad, at ako'y iniwan mo ohh, diba ahuashdhaahaa?
                                        </td>
                                        <td>
                                            <span class="badge bg-success-subtle text-success">Regular Designee</span>
                                        </td>
                                        <td>
                                            <h5 class="fs-14 fw-medium mb-0">4.9<span class="text-muted fs-11 ms-1"></span></h5>
                                        </td>
                                    </tr>
                                </tbody><!-- end tbody -->
                            </table><!-- end table -->
                        </div>
                    </div>
                </div> <!-- .card-->
            </div>
        </div>
        
        <script src="{% static 'js/main/eval_upload/eval_u_datentime.js' %}"></script>
        <script src="{% static 'js/main/eval_upload/eval_u_datatable.js' %}"></script>


{% endblock %}