
{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
    .breadcrumb-item + .breadcrumb-item::before {
        content: "/" !important;
    }

    .gridjs-tbody, td.gridjs-td,
    .gridjs *, .gridjs ::after, .gridjs ::before,
    .table {
        font-size: var(--vz-body-font-size);
    }

    .mt-n5{
        margin-top: -5rem !important;;
    }

    .profile-wid-bg::before {
        background: linear-gradient(to top, #800000, #3e0000);
    }
</style>

<div class="card-body px-4 pb-4">
    
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="toast-container" class="toast-container"></div>
    </div>

    <div class="position-relative mx-n4 mt-n4">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">
                <span id="greeting"></span>, 
                {% if user.is_authenticated %}
                    Ma'am {{ user.first_name }}
                {% else %}
                    Guest
                {% endif %}
            </h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <b class="breadcrumb-item" id="time"></b>
                    <b class="breadcrumb-item" id="date"></b>
                </ol>
            </div>
        </div>
        <div class="profile-wid-bg profile-setting-img">
            <img src="{% static 'img/pup-main.jpg' %}" class="profile-wid-img" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card crm-widget mt-n5">
                <div class="card-body p-0">
                    <div class="row row-cols-xxl row-cols-md-2 row-cols-1 g-0">{% comment %}  row-cols-xxl-5 {% endcomment %}
                        <div class="col d-flex justify-content-center align-items-center">
                            <div class="py-4 px-3">
                                <h5 class="text-muted text-uppercase fs-13">Highest Student Rated Faculties<!--i class="ri-arrow-up-circle-line text-success fs-18 float-end align-middle"></i--></h5>
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <i class="ri-chat-smile-3-line display-6 text-muted"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h2 class="mb-0"><span class="counter-value" data-target="{{ highest_counts }}">0</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center align-items-center">
                            <div class="mt-3 mt-md-0 py-4 px-3">
                                <h5 class="text-muted text-uppercase fs-13">Present Research Products <!--i class="ri-arrow-up-circle-line text-success fs-18 float-end align-middle"></i--></h5>
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <i class="ri-book-line display-6 text-muted"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h2 class="mb-0"><span class="counter-value" data-target="{{ total_research_papers }}"></span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% comment %} <div class="col">
                            <div class="mt-3 mt-md-0 py-4 px-3">
                                <h5 class="text-muted text-uppercase fs-13">Present Awarded Faculties <!--i class="ri-arrow-down-circle-line text-danger fs-18 float-end align-middle"></i--></h5>
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <i class="ri-award-fill display-6 text-muted"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h2 class="mb-0"><span class="counter-value" data-target="0">0</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mt-3 mt-lg-0 py-4 px-3">
                                <h5 class="text-muted text-uppercase fs-13">Present Successfull Trainings<!--i class="ri-arrow-up-circle-line text-success fs-18 float-end align-middle"></i--></h5>
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <i class="ri-user-settings-line display-6 text-muted"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h2 class="mb-0"><span class="counter-value" data-target="0">0</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mt-3 mt-lg-0 py-4 px-3">
                                <h5 class="text-muted text-uppercase fs-13">Present Reduced Workloads <!--i class="ri-arrow-up-circle-line text-success fs-18 float-end align-middle"></i--></h5>
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <i class="ri-refresh-line display-6 text-muted"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h2 class="mb-0"><span class="counter-value" data-target="0">0</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">   

        <div class="col-lg-4">
            <div class="card card-height-100">
                <div class="card-header align-items-center d-flex">
                    <h4 class="table-h4-white-text card-title mb-0 flex-grow-1">Teaching Effectiveness</h4>
                    <div class="flex-shrink-0">
                        <a href="{% url 'evales_el' %}" class="link-primary">View All <i class="ri-arrow-right-line"></i></a>
                    </div>
                </div>
                <div class="card-body p-0 pb-2">
                    <div class="card-body">
                        <div id="prjects-status-1" class="apex-charts mt-5" dir="ltr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                    <h4 class="table-h4-white-text card-title mb-0 flex-grow-1">Research Publications</h4>
                    <div class="flex-shrink-0">
                        <a href="{% url 'publicate' %}" class="link-primary">View All <i class="ri-arrow-right-line"></i></a>
                    </div>
                </div>
                <div class="card-body pb-0">
                    <div id="edx"></div>
                    <div id="multiple_radialbar" data-colors='["--vz-success", "--vz-warning", "--vz-primary"]' class="apex-charts" dir="ltr"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-height-100">
                <div class="card-header align-items-center d-flex">
                    <h4 class="table-h4-white-text card-title mb-0 flex-grow-1">Professional Development</h4>
                    <div class="flex-shrink-0">
                        <a href="{% url 'prodev_a' %}" class="link-primary">View All <i class="ri-arrow-right-line"></i></a>
                    </div>
                </div>
                
                <div class="card-body mt-4 mb-4 p-0 pb-2">
                    <div id="simple_pie_charts" dir="ltr"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function updateDateTime() {
            const now = new Date();
            const timeElement = document.getElementById('time');
            const dateElement = document.getElementById('date');
            const greetingElement = document.getElementById('greeting');
            const options = {
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric',
                hour12: true
            };
            timeElement.textContent = now.toLocaleTimeString(undefined, options);
            dateElement.textContent = now.toDateString();
            const currentHour = now.getHours();
            let greeting;
            if (currentHour < 12) {
                greeting = 'Good morning';
            } else if (currentHour < 18) {
                greeting = 'Good afternoon';
            } else {
                greeting = 'Good evening';
            }
            greetingElement.textContent = greeting;
        }
    
        setInterval(updateDateTime, 1000); // Update every second
        updateDateTime(); // Initial update
    </script>
    

    {% comment %} Average Student Scores for Each Faculty: Pie {% endcomment %}
    <script>
        var percentage_data = JSON.parse('{{ percentage|safe }}');
    </script>
    
    <script src="{% static 'js/main/eval_upload/eval_studentscr_pie.js' %}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const json_data = JSON.parse('{{ overall_avg_data|escapejs }}');
            const valueToSet = json_data.overall_avg_first;
            const valueToSetTwo = json_data.overall_avg_second;
            console.log(valueToSetTwo)
    
            const frfs = document.getElementById('frfs');
            frfs.textContent = valueToSet;
    
            const frss = document.getElementById('frss');
            frss.textContent = valueToSetTwo;
        });
    </script>

    <script>
        var base_response = JSON.parse('{{ response_call|safe }}')
        if (base_response == 1) { 
            var TotalResearch = parseInt('{{ total_research_papers|safe }}');
            var GroupPercent = JSON.parse('{{ percent_research_papers|safe }}');
            var yearsz = [];
            var percentagesz = [];
            for (const year in GroupPercent) {
                yearsz.push(year);
                percentagesz.push(GroupPercent[year].percentage);
            }
            var options = {
                series: percentagesz,
                chart: { height: 350, type: "radialBar" },
                plotOptions: {
                    radialBar: {
                        dataLabels: {
                            name: { fontSize: "22px" },
                            value: { fontSize: "16px" },
                            total: {
                                show: true,
                                label: "Total",
                                formatter: function (a) {
                                    return TotalResearch;
                                },
                            },
                        },
                    },
                },
                labels: yearsz,
                colors: [
                    getComputedStyle(document.documentElement).getPropertyValue('--vz-info'),
                    getComputedStyle(document.documentElement).getPropertyValue('--vz-primary'),
                    getComputedStyle(document.documentElement).getPropertyValue('--vz-secondary'),
                ],
            };
            var rsrch_bound_chart = new ApexCharts(document.querySelector("#multiple_radialbar"), options);
            rsrch_bound_chart.render();
        }
        else if (base_response == 0) {
            document.querySelector("#edx").innerHTML = '<p class="text-center" style="margin: 19% 0% !important;">No data available.</p>';
        };
    </script>
    
    <script>
        $(document).ready(function(){
            var programTypes = JSON.parse('{{ program_types|safe }}');
            var labels = [];
            var originalSeries = []; // Store original series data
            var filteredSeries = [];
    
            for (var year in programTypes) {
                for (var type in programTypes[year]) {
                    labels.push(type);
                    originalSeries.push(programTypes[year][type]); // Store original series data
                }
            }
    
            var options = {
                series: originalSeries, // Use original series data initially
                chart: { height: 300, type: "pie" },
                labels: labels,
                legend: { position: "bottom" },
                dataLabels: { dropShadow: { enabled: !1 } },
                colors: [
                    getComputedStyle(document.documentElement).getPropertyValue('--vz-info'),
                    getComputedStyle(document.documentElement).getPropertyValue('--vz-primary'),
                    getComputedStyle(document.documentElement).getPropertyValue('--vz-secondary'),
                    getComputedStyle(document.documentElement).getPropertyValue('--vz-dark'),
                ],
            };
            
            var proChart = new ApexCharts(document.querySelector("#simple_pie_charts"), options);
            proChart.render();
    
            var yearFilterDropdown = document.getElementById('prodevTypesYearFilter');
            var prodTypes_DisplayAll = document.createElement('option');
            prodTypes_DisplayAll.value = 'all';
            prodTypes_DisplayAll.text = 'Display All';
            yearFilterDropdown.add(prodTypes_DisplayAll);
    
            for (var year in programTypes) {
                var option = document.createElement('option');
                option.value = year;
                option.text = year;
                yearFilterDropdown.appendChild(option);
            }
    
            function prodevPieChartsUpdate(event) {
                if (event) {
                    event.preventDefault();
                }
                var selectedYear = yearFilterDropdown.value;
    
                if (selectedYear === 'all') {
                    // If "Display All" is selected, show all original data
                    proChart.updateOptions({ series: originalSeries });
                } 
                else {
                    // Filter data based on the selected year
                    filteredSeries = [];
    
                    for (var year in programTypes) {
                        if (year == selectedYear) {
                            for (var type in programTypes[year]) {
                                filteredSeries.push(programTypes[year][type]);
                            }
                            break; 
                        }
                    }
    
                    proChart.updateOptions({ series: filteredSeries });
                }
            }
    
            yearFilterDropdown.addEventListener('change', prodevPieChartsUpdate);
        });
    </script>
    

    {% endblock %} 