
{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .breadcrumb-item + .breadcrumb-item::before {
        content: "/" !important;
    }

    .gridjs-tbody, td.gridjs-td,
    .gridjs *, .gridjs ::after, .gridjs ::before,
    .table {
        font-size: var(--vz-body-font-size);
    }

    .mt-n5{
        margin-top: -5rem !important;;
    }

    .profile-wid-bg::before {
        background: linear-gradient(to top, #800000, #3e0000);
    }
</style>

<div class="card-body px-4 pb-4">
    
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="toast-container" class="toast-container"></div>
    </div>

    <div class="position-relative mx-n4 mt-n4">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">
                <span id="greeting"></span>, 
                {% if user.is_authenticated %}
                    Ma'am {{ user.first_name }}
                {% else %}
                    Guest
                {% endif %}
            </h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <b class="breadcrumb-item" id="time"></b>
                    <b class="breadcrumb-item" id="date"></b>
                </ol>
            </div>
        </div>
        <div class="profile-wid-bg profile-setting-img">
            <img src="{% static 'img/pup-main.jpg' %}" class="profile-wid-img" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card crm-widget mt-n5">
                <div class="card-body p-0">
                    <div class="row row-cols-xxl row-cols-md-2 row-cols-1 g-0">{% comment %}  row-cols-xxl-5 {% endcomment %}
                        <div class="col d-flex justify-content-center align-items-center">
                            <div class="py-4 px-3">
                                <h5 class="text-muted text-uppercase fs-13">Present Institutional Rating <!--i class="ri-arrow-up-circle-line text-success fs-18 float-end align-middle"></i--></h5>
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <i class="ri-chat-smile-3-line display-6 text-muted"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h2 class="mb-0"><span class="counter-value" data-target="4.8">0</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center align-items-center">
                            <div class="mt-3 mt-md-0 py-4 px-3">
                                <h5 class="text-muted text-uppercase fs-13">Present Research Products <!--i class="ri-arrow-up-circle-line text-success fs-18 float-end align-middle"></i--></h5>
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <i class="ri-book-line display-6 text-muted"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h2 class="mb-0"><span class="counter-value" data-target="{{ total_research_papers }}"></span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% comment %}<div class="col">
                            <div class="mt-3 mt-md-0 py-4 px-3">
                                <h5 class="text-muted text-uppercase fs-13">Present Awarded Faculties <!--i class="ri-arrow-down-circle-line text-danger fs-18 float-end align-middle"></i--></h5>
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <i class="ri-award-fill display-6 text-muted"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h2 class="mb-0"><span class="counter-value" data-target="0">0</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mt-3 mt-lg-0 py-4 px-3">
                                <h5 class="text-muted text-uppercase fs-13">Present Successfull Trainings<!--i class="ri-arrow-up-circle-line text-success fs-18 float-end align-middle"></i--></h5>
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <i class="ri-user-settings-line display-6 text-muted"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h2 class="mb-0"><span class="counter-value" data-target="0">0</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mt-3 mt-lg-0 py-4 px-3">
                                <h5 class="text-muted text-uppercase fs-13">Present Reduced Workloads <!--i class="ri-arrow-up-circle-line text-success fs-18 float-end align-middle"></i--></h5>
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <i class="ri-refresh-line display-6 text-muted"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h2 class="mb-0"><span class="counter-value" data-target="0">0</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>{% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">   
        <div class="col-lg-6">
            <div class="card card-height-100">
                <div class="card-header align-items-center d-flex">
                    <h4 class="table-h4-white-text card-title mb-0 flex-grow-1">
                        Average Student Scores for Each Faculty
                    </h4>
                    <div class="flex-shrink-0">
                        <a href="{% url 'eval_analytics' %}" class="link-primary">View All <i class="ri-arrow-right-line"></i></a>
                    </div>
                </div>
                <div class="card-body p-0 pb-2">
                    <div class="card-body">
                        <div id="prjects-status-1" class="apex-charts mt-5" dir="ltr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                    <h4 class="table-h4-white-text card-title mb-0 flex-grow-1">Research Productivity</h4>
                    <div class="flex-shrink-0">
                        <a href="{% url 'rsrch_analytics' %}" class="link-primary">View All <i class="ri-arrow-right-line"></i></a>
                    </div>
                </div>
                <div class="card-body pb-0">
                    <div id="edx"></div>
                    <div id="multiple_radialbar" data-colors='["--vz-success", "--vz-warning", "--vz-primary"]' class="apex-charts" dir="ltr"></div>
                </div>
            </div>
        </div>
        {% comment %} <div class="col-xxl-6"> 
            <div class="card card-height-100">
                <div class="card-header align-items-center d-flex">
                    <h4 class="table-h4-white-text card-title mb-0 flex-grow-1">Workload Distributions</h4>
                    <div class="flex-shrink-0">
                        <a href="#" class="link-primary">View All <i class="ri-arrow-right-line"></i></a>
                    </div>
                </div>
                <div class="card-body px-0">
                    <ul class="list-inline main-chart text-center mb-0">
                        <li class="list-inline-item chart-border-left me-0 border-0">
                            <h4 class="text-primary">0<span class="text-muted d-inline-block fs-13 align-middle ms-2">Non-Reduced Workload</span></h4>
                        </li>
                        <li class="list-inline-item chart-border-left me-0">
                            <h4 class="text-secondary">0<span class="text-muted d-inline-block fs-13 align-middle ms-2">Reduced Workload</span>
                            </h4>
                        </li>
                        <li class="list-inline-item chart-border-left me-0">
                            <h4 class="text-success"><span data-plugin="counterup">0</span>%<span class="text-muted d-inline-block fs-13 align-middle ms-2">Average Faculty Rating</span></h4>
                        </li>
                    </ul>

                    <div id="revenue-expenses-charts" data-colors='["--vz-success", "--vz-secondary", "--vz-primary"]' class="apex-charts" dir="ltr"></div>
                </div>
            </div>
        </div>{% endcomment %}
    </div>
    
    {% comment %}<div class="row">
        <div class="col-xxl-4">
            <div class="card card-height-100">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Professional Development</h4>
                    <div class="flex-shrink-0">
                        <div class="dropdown card-header-dropdown">
                            <div class="flex-shrink-0">
                                <a href="{% url 'prodev_analytics' %}" class="link-primary">View All <i class="ri-arrow-right-line"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    
                        <!--div id="prjects-status" data-colors='["--vz-success", "--vz-primary", "--vz-secondary", "--vz-danger"]' class="apex-charts" dir="ltr"></div>
                        <div class="mt-3">
                            <div class="d-flex justify-content-center align-items-center mb-4">
                                <h2 class="me-3 ff-secondary mb-0">0</h2>
                                <div>
                                    <p class="text-muted mb-0">Total Trainings Conducted</p>
                                    <p class="text-success fw-medium mb-0">
                                        <span class="badge bg-success-subtle text-success p-1 rounded-circle"><i class="ri-arrow-right-up-line"></i></span> +0 New
                                    </p>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-medium mb-0"><i class="ri-checkbox-blank-circle-fill text-success align-middle me-2"></i>
                                    Completed</p>
                                <div>
                                    <span class="text-muted pe-5">189 Overall Total</span>
                                    <span class="text-success fw-medium fs-12">15870hrs</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-medium mb-0"><i class="ri-checkbox-blank-circle-fill text-primary align-middle me-2"></i>
                                    Workshops</p>
                                <div>
                                    <span class="text-muted pe-5">42 Workshops Completed</span>
                                    <span class="text-success fw-medium fs-12">243hrs</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                <p class="fw-medium mb-0"><i class="ri-checkbox-blank-circle-fill text-secondary align-middle me-2"></i>
                                    Seminars</p>
                                <div>
                                    <span class="text-muted pe-5">58 Seminars Conducted</span>
                                    <span class="text-success fw-medium fs-12">2050hrs</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between py-2">
                                <p class="fw-medium mb-0"><i class="ri-checkbox-blank-circle-fill text-danger align-middle me-2"></i>
                                    Trainings</p>
                                <div>
                                    <span class="text-muted pe-5">89 Training Completed</span>
                                    <span class="text-success fw-medium fs-12">900hrs</span>
                                </div>
                            </div>
                        </div-->
                    
                </div>
            </div>
        </div>
        <div class="col-xxl">
            <div class="card">
                <div class="card-header border-0 align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Awards and Recognition Impact</h4>
                    <div class="flex-shrink-0">
                        <a href="{% url 'awards_analytics' %}" class="link-primary">View All <i class="ri-arrow-right-line"></i></a>
                    </div>
                    <!--div>
                        <button type="button" class="btn btn-soft-secondary btn-sm shadow-none">
                            2020
                        </button>
                        <button type="button" class="btn btn-soft-secondary btn-sm shadow-none">
                            2021
                        </button>
                        <button type="button" class="btn btn-soft-secondary btn-sm shadow-none">
                            2022
                        </button>
                        <button type="button" class="btn btn-soft-primary btn-sm shadow-none">
                            2023
                        </button>
                    </div-->
                </div>

                {% comment %}
                    <!--div class="card-header p-0 border-0 bg-light-subtle">
                        <div class="row g-0 text-center">
                            <div class="col-6 col-sm-4">
                                <div class="p-3 border border-dashed border-start-0">
                                    <h5 class="mb-1"><span class="counter-value" data-target="131">0</span></h5>
                                    <p class="text-muted mb-0">Faculties w/ High Recognition Score</p>
                                </div>
                            </div>
                            
                            <div class="col-6 col-sm-4">
                                <div class="p-3 border border-dashed border-start-0">
                                    <h5 class="mb-1"><span class="counter-value" data-target="102">0</span></h5>
                                    <p class="text-muted mb-0">Faculties w/ High Evaluation Score</p>
                                </div>
                            </div>
                            
                            <div class="col-6 col-sm-4">
                                <div class="p-3 border border-dashed border-start-0">
                                    <h5 class="mb-1"><span class="counter-value" data-target="225">0</span></h5>
                                    <p class="text-muted mb-0">No. of Eligible Awardee</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-body p-0 pb-2">
                        <div>
                            <div id="projects-overview-chart" data-colors='["--vz-primary", "--vz-info", "--vz-secondary"]' class="apex-charts" dir="ltr"></div>
                        </div>
                    </div-->
            </div>
        </div>
    </div>{% endcomment %}
    {% comment %} <a href="{% url 'faculty_mgmt_reports' %}" class="btn btn-primary">Download Excel</a> {% endcomment %}
    <script>
        //For showing time and date
        function updateDateTime() {
            const now = new Date();
            const timeElement = document.getElementById('time');
            const dateElement = document.getElementById('date');
            const greetingElement = document.getElementById('greeting');
    
            const options = {
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric',
                hour12: true
            };
    
            timeElement.textContent = now.toLocaleTimeString(undefined, options);
            dateElement.textContent = now.toDateString();
    
            const currentHour = now.getHours();
    
            let greeting;
            if (currentHour < 12) {
                greeting = 'Good morning';
            } else if (currentHour < 18) {
                greeting = 'Good afternoon';
            } else {
                greeting = 'Good evening';
            }
    
            greetingElement.textContent = greeting;
        }
    
        setInterval(updateDateTime, 1000); // Update every second
        updateDateTime(); // Initial update
    </script>
    

    {% comment %} Average Student Scores for Each Faculty: Pie {% endcomment %}
    <script>
        var percentage_data = JSON.parse('{{ percentage|safe }}');
    </script>
    <script src="{% static 'js/main/eval_upload/eval_studentscr_pie.js' %}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const json_data = JSON.parse('{{ overall_avg_data|escapejs }}');
            const valueToSet = json_data.overall_avg_first;
            const valueToSetTwo = json_data.overall_avg_second;
            console.log(valueToSetTwo)
    
            const frfs = document.getElementById('frfs');
            frfs.textContent = valueToSet;
    
            const frss = document.getElementById('frss');
            frss.textContent = valueToSetTwo;
        });
    </script>

    <script>
        var base_response = JSON.parse('{{ response_call|safe }}')
        if (base_response == 1) { 
            var TotalResearch = parseInt('{{ total_research_papers|safe }}');
            var GroupPercent = JSON.parse('{{ percent_research_papers|safe }}');
            var yearsz = [];
            var percentagesz = [];
            for (const year in GroupPercent) {
                yearsz.push(year);
                percentagesz.push(GroupPercent[year].percentage);
            }
            var options = {
                series: percentagesz,
                chart: { height: 350, type: "radialBar" },
                plotOptions: {
                    radialBar: {
                        dataLabels: {
                            name: { fontSize: "22px" },
                            value: { fontSize: "16px" },
                            total: {
                                show: true,
                                label: "Total",
                                formatter: function (a) {
                                    return TotalResearch;
                                },
                            },
                        },
                    },
                },
                labels: yearsz,
                colors: [
                    getComputedStyle(document.documentElement).getPropertyValue('--vz-info'),
                    getComputedStyle(document.documentElement).getPropertyValue('--vz-primary'),
                    getComputedStyle(document.documentElement).getPropertyValue('--vz-secondary'),
                ],
            };
            var rsrch_bound_chart = new ApexCharts(document.querySelector("#multiple_radialbar"), options);
            rsrch_bound_chart.render();
        }
        else if (base_response == 0) {
            document.querySelector("#edx").innerHTML = '<p class="text-center" style="margin: 19% 0% !important;">No data available.</p>';
        };
    </script>
    
{% endblock %} 