{% load static %}
<!DOCTYPE html>
<html lang="en" data-layout="horizontal" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% comment %} App favicon {% endcomment %}
    <link rel="icon" href="{% static 'img/pupqcfps2.png' %}">
    <title>myPUPQC-FPS</title>

    {% comment %} css dependencies {% endcomment %}
    {% include 'partials/_cssdep.html' %}
    
    {% comment %} Include the ApexCharts CSS and JS files {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.27.2/dist/apexcharts.min.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.27.2/dist/apexcharts.min.js"></script>
    
</head>

<body>
    
    {% comment %} Begin page {% endcomment %}
    <div id="layout-wrapper">
    {% include 'partials/_messages.html' %}

        {% comment %} header {% endcomment %}
        <header id="page-topbar">
            {% include 'partials/_topnav.html' %}
        </header>

        {% comment %} sidebar {% endcomment %}
        <div class="app-menu navbar-menu">
            {% include 'partials/_sidebar.html' %}
        </div>

        {% comment %} vertical overlay {% endcomment %}
        <div class="vertical-overlay"></div>

        {% comment %} main page {% endcomment %}
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        {% comment %} footer {% endcomment %}
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script>© BSIT 4-2 Batch 2020
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Polytechnic University of the Philippines, Quezon City - Faculty Performance System
                        </div>
                    </div>
                </div>
            </div>
        </footer>        
    </div>

    {% comment %} back to top {% endcomment %}
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>

    {% comment %} js dependencies {% endcomment %}
    <script>
        $(document).ready(function() {
            $('.nav-link').click(function() {
                $('.nav-link').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
    {% include 'partials/_jvsdep.html' %}
</body>
</html>