{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-xxl-12">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="table-h4-white-text card-title mb-0 flex-grow-1">
                    Average student evaluation scores for each faculty member. No action infos yet
                </h4>
            </div>
            <div class="card-body p-0 pb-2">
                <div class="w-100">
                    <table id="AvestudRate" class="display">
                        <thead>
                            <tr>
                                <th>Faculty Name</th>
                                <th>Students Rating</th>
                                <th>Students Interpretation</th>
                                <th>Semester</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xxl-12">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="table-h4-white-text card-title mb-0 flex-grow-1">Test chart</h4>
            </div>
            <div class="card-body p-0 pb-2">
                <div class="w-100">
                    <div id="line-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xxl-12">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="table-h4-white-text card-title mb-0 flex-grow-1">Trends in Teaching Effectiveness</h4>
            </div>
            <div class="card-body p-0 pb-2">
                <div class="w-100">
                    <div id="chartz"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include jQuery -->
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#AvestudRate').DataTable({
            "ajax": {
                "url": "test_pages",  // Use the URL associated with your view
                "dataSrc": ""
            },
            "columns": [
                { "data": "facultyname" },
                { "data": "stud_rating" },
                { "data": "stud_interp" },
                { "data": "semester" },
            ]
        });

        if (dataTable.data().count() === 0) {
            $('#AvestudRate tbody').html('<tr><td colspan="9">There is currently no data in the database.</td></tr>');
        }
    });
</script>

<script>
    // for test container
    var chartData = JSON.parse('{{ chart_data|escapejs|safe }}');

    function initializeChartOne() {
        var options = {
            chart: {
                type: 'line',
                height: 345,
                zoom: { enabled: true },
                toolbar: { show: true },
            },
            stroke: {
                width: [1, 1, 1, 1],
                curve: "straight",
                dashArray: [0, 1, 0, 0]
            },
            fill: {
                opacity: [1, 1, 1, 1]
            },
            markers: {
                size: [0, 4, 0, 0],
                strokeWidth: 2,
                hover: { size: 4 }
            },
            series: [
                {
                    name: "Supervisor Evaluation",
                    type: "bar",
                    data: chartData.supervisor,
                },
                {
                    name: "Student Evaluation",
                    type: "line",
                    data: chartData.student,
                },
                {
                    name: "Peer Evaluation",
                    type: "bar",
                    data: chartData.peer,
                },
                {
                    name: "Self Evaluation",
                    type: "bar",
                    data: chartData.self,
                }
            ],
            xaxis: {
                categories: chartData.faculty,
            },
            colors: [
                getComputedStyle(document.documentElement).getPropertyValue('--vz-success'),
                getComputedStyle(document.documentElement).getPropertyValue('--vz-primary'),
                getComputedStyle(document.documentElement).getPropertyValue('--vz-secondary'),
                getComputedStyle(document.documentElement).getPropertyValue('--vz-danger'),
            ]
        }
        var chart = new ApexCharts(document.querySelector("#line-chart"), options);
        chart.render();
    }
    // Call the chart initialization function
    initializeChartOne();
</script>

<script>
    // Parse the serialized data from Django's context
    var chartDataTwo = JSON.parse('{{ chart_data_two|escapejs|safe }}');

    function initializeChartTwo() {
        var semesterData = [
            {
                name: 'Institutional Average Rating', // Add a new category for the goal
                data: [4.9, 4.9, 4.9, 4.9], // Static values for each evaluation category
            },
            {
                name: 'First Sem',
                data: [
                    chartDataTwo.spvs_first[0],
                    chartDataTwo.stud_first[0],
                    chartDataTwo.peerr_first[0],
                    chartDataTwo.selff_first[0]
                ]
            },
            {
                name: 'Second Sem',
                data: [
                    chartDataTwo.spvs_second[0],
                    chartDataTwo.stud_second[0],
                    chartDataTwo.peerr_second[0],
                    chartDataTwo.selff_second[0]
                ]
            },
        ];

        var options = {
            chart: {
                type: 'bar',
                height: 345,
                zoom: { enabled: true },
                toolbar: { show: false },
            },

            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '60%',
                    endingShape: 'rounded',
                },
            },

            colors: [
                getComputedStyle(document.documentElement).getPropertyValue('--vz-warning'),
                getComputedStyle(document.documentElement).getPropertyValue('--vz-primary'),
                getComputedStyle(document.documentElement).getPropertyValue('--vz-success')
            ],

            xaxis: {
                categories: ['Supervisor Evaluation', 'Student Evaluation', 'Peer Evaluation', 'Self Evaluation'],
                title: {
                    text: 'Rating',
                },
            },

            yaxis: {
                title: {
                    text: 'Evaluation Scores',
                },
            },
            
            series: semesterData,
        };

        var chartz = new ApexCharts(document.querySelector("#line-chart-two"), options);
        chartz.render();
    }

    // Call the chart initialization function
    initializeChartTwo();
</script>

<script>
    var overallAvgData = JSON.parse('{{ overall_avg_data|safe }}');
    function iniiniminymow() {
        var perYearData = [
            {
                name: 'First Semester',
                data: [overallAvgData.overall_avg_first]
            },
            {
                name: 'Second Semester',
                data: [overallAvgData.overall_avg_second]
            },
        ];
        var options = {
            chart: {
                type: 'bar',
                height: 350,
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                },
            },
            colors: [
                getComputedStyle(document.documentElement).getPropertyValue('--vz-warning'),
                getComputedStyle(document.documentElement).getPropertyValue('--vz-primary'),
                getComputedStyle(document.documentElement).getPropertyValue('--vz-success')
            ],
            xaxis: {
                categories: ['First Semester', 'Second Semester'],
            },
            series: perYearData,
        };

        // Create the chart instance
        var chart = new ApexCharts(document.querySelector("#chartzk"), options);
        chart.render();
    }
    iniiniminymow();
</script>

<script>
    // Retrieve the serialized_combined_data from your Django context
    var combinedData = JSON.parse('{{ combined_data|safe }}');

    // Extract the data from the combinedData object
    var chartData = Object.values(combinedData);

    // Create an array to hold the years for the X-axis
    var years = chartData.map(function (item) {
        return item.year;
    });

    // Extract the first semester and second semester ratings
    var firstSemesterRatings = chartData.map(function (item) {
        return {
            //'avg_spvs_rating': item.first_semester_avg.avg_spvs_rating,
            'avg_stud_rating': item.first_semester_avg.avg_stud_rating,
            //'avg_peer_rating': item.first_semester_avg.avg_peer_rating,
            //'avg_self_rating': item.first_semester_avg.avg_self_rating,
        };
    });

    var secondSemesterRatings = chartData.map(function (item) {
        return {
            //'avg_spvs_rating': item.second_semester_avg.avg_spvs_rating,
            'avg_stud_rating': item.second_semester_avg.avg_stud_rating,
            //'avg_peer_rating': item.second_semester_avg.avg_peer_rating,
            //'avg_self_rating': item.second_semester_avg.avg_self_rating,
        };
    });

    // Create the series data for the chart
    var series = [
        /*
            {% comment %}
                {
                    name: 'First Semester SPVS Rating',
                    data: firstSemesterRatings.map(function (item) {
                        return item.avg_spvs_rating;
                    }),
                },
            {% endcomment %}
        */

        {
            name: 'First Semester Stud Rating',
            data: firstSemesterRatings.map(function (item) {
                return item.avg_stud_rating;
            }),
        },

        /*
            {% comment %}
                {
                    name: 'First Semester Peer Rating',
                    data: firstSemesterRatings.map(function (item) {
                        return item.avg_peer_rating;
                    }),
                },
                {
                    name: 'First Semester Self Rating',
                    data: firstSemesterRatings.map(function (item) {
                        return item.avg_self_rating;
                    }),
                },
            {% endcomment %}
        */
        /*
            {% comment %}
                {
                    name: 'Second Semester SPVS Rating',
                    data: secondSemesterRatings.map(function (item) {
                        return item.avg_spvs_rating;
                    }),
                },
            {% endcomment %}
        */
        {
            name: 'Second Semester Stud Rating',
            data: secondSemesterRatings.map(function (item) {
                return item.avg_stud_rating;
            }),
        },
        /*
            {% comment %}
                {
                    name: 'Second Semester Peer Rating',
                    data: secondSemesterRatings.map(function (item) {
                        return item.avg_peer_rating;
                    }),
                },
                {
                    name: 'Second Semester Self Rating',
                    data: secondSemesterRatings.map(function (item) {
                        return item.avg_self_rating;
                    }),
                },
            {% endcomment %}
        */
    ];

    // Create a chart configuration object
    var options = {
        chart: {
            type: 'bar',
            height: 350,
        },
        plotOptions: {
            bar: {
                horizontal: false,
            },
        },
        colors: [
            //getComputedStyle(document.documentElement).getPropertyValue('--vz-success'),
            getComputedStyle(document.documentElement).getPropertyValue('--vz-primary'),
            getComputedStyle(document.documentElement).getPropertyValue('--vz-secondary'),
            //getComputedStyle(document.documentElement).getPropertyValue('--vz-warning')
        ],
        xaxis: {
            categories: years,
            title: {
                text: 'Academic Year/s',
            },
        },
        yaxis: {
            title: {
                text: 'Average Rating',
            },
        },
        series: series, // Include the series data
    };
    
    // Create the chart instance
    var chart = new ApexCharts(document.querySelector("#chartz"), options);

    // Render the chart
    chart.render();
</script>




{% endblock %}
