{% extends 'base_auth.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>
    .auth-one-bg .bg-overlay {
        background:#660000 !important;
        opacity: 1 !important;
    }
    
    .text-primary {
        --vz-text-opacity: 1;
        color: #660000 !important;
    }
    
    .btn-primary {
        --vz-btn-bg: #660000 !important;
        --vz-btn-border-color: #a30000 !important;
        --vz-btn-hover-bg: #a30000 !important;
        --vz-btn-hover-border-color: #FFC000 !important;
        --vz-btn-focus-shadow-rgb: #660000 !important;
        --vz-btn-active-bg: #a30000 !important;
        --vz-btn-active-border-color: #FFC000 !important;
    }
    
    .form-check-input:checked {
        background-color: #660000;
        border-color: #660000;
    }

    .alert-dismissible .btn-close::after {
        content: "" !important;
        
    }

</style>

    <!-- auth page bg -->
    <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>

        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div>
    </div>

    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-sm-5 mb-4 text-white-50">
                        <div>
                            <a href="#" class="d-inline-block auth-logo">
                                <img src="{% static 'img/pupqcfps2.png' %}" alt="" height="90">
                            </a>
                        </div>
                        <p class="mt-3 fs-15 fw-medium">Polytechnic University of the Philippines, Quezon City <br>Faculty Performance System</p>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">

                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Register</h5>
                                <p class="text-muted">Sign up to continue</p>
                            </div>
                            <div class="p-2 mt-4">
                                <form class="needs-validation" novalidate action="/registry/" method="post">
                                    {% include 'partials/_messages.html' %}

                                    {% csrf_token %}                              
                                <!-- for fullname field part -->
                                    <div class="mb-3">
                                        <label class="form-label">Lastname</label>
                                        <div class="position-relative">
                                            {{ form.lastname|add_class:"form-control pe-5 password-input"|attr:"oncopy:return false"|attr:"onpaste:return false"|attr:"placeholder:Enter lastname"|attr:"id:usersLast"|attr:"aria-describedby:lnameInput"|attr:"name:lastname"|attr:"required maxlength:100" }}
                                            <div class="invalid-feedback lnameErrorFeedbackArea"></div>
                                            <div class="valid-feedback lnameSuccessFeedbackArea"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Firstname</label>
                                        <div class="position-relative">
                                            {{ form.firstname|add_class:"form-control pe-5 password-input"|attr:"oncopy:return false"|attr:"onpaste:return false"|attr:"placeholder:Enter firstname"|attr:"id:usersFirst"|attr:"aria-describedby:fnameInput"|attr:"name:firstname"|attr:"required maxlength:100" }}
                                            <div class="invalid-feedback fnameErrorFeedbackArea"></div>
                                            <div class="valid-feedback fnameSuccessFeedbackArea"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Middlename</label>
                                        <div class="position-relative">
                                            {{ form.middlename|add_class:"form-control pe-5 password-input"|attr:"oncopy:return false"|attr:"onpaste:return false"|attr:"placeholder:Enter middlename"|attr:"id:usersMiddle"|attr:"aria-describedby:mnameInput"|attr:"name:middlename"|attr:"required maxlength:100" }}
                                            <div class="invalid-feedback mnameErrorFeedbackArea"></div>
                                            <div class="valid-feedback mnameSuccessFeedbackArea"></div>
                                        </div>
                                    </div>

                                <!-- for email field part -->
                                    <div class="mb-3">
                                        <label class="form-label" for="useremail">Email</label>
                                        <div class="position-relative">
                                            {{ form.email|add_class:"form-control pe-5 password-input useremail"|attr:"oncopy:return false"|attr:"onpaste:return false"|attr:"placeholder:Enter webmail"|attr:"id:webmail"|attr:"aria-describedby:emailInput"|attr:"name:email"|attr:"required"|attr:"required maxlength:100" }}
                                            <div class="invalid-feedback webmailFeedBackArea"></div>
                                            <div class="valid-feedback webmailSuccessArea"></div>
                                        </div>
                                    </div>
                                
                                <!-- for pass field part -->
                                    <div class="mb-3">
                                        <label class="form-label" for="password-input">Password</label>
                                        <div class="position-relative auth-pass-inputgroup">
                                            {{ form.password1|add_class:"form-control pe-5 password-input"|attr:"oncopy:return false"|attr:"placeholder:Enter password"|attr:"id:password-input"|attr:"aria-describedby:passwordInput"|attr:"pattern:(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"|attr:"name:password"|attr:"required"|attr:"required maxlength:100" }}
                                            <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none shadow-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                            
                                        </div>
                                    </div>
                                    <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                                        <h5 class="fs-13">Password must contain:</h5>
                                        <p id="pass-length" class="invalid fs-12 mb-2">Minimum <b>8 characters</b></p>
                                        <p id="pass-lower" class="invalid fs-12 mb-2">At <b>lowercase</b> letter (a-z)</p>
                                        <p id="pass-upper" class="invalid fs-12 mb-2">At least <b>uppercase</b> letter (A-Z)</p>
                                        <p id="pass-number" class="invalid fs-12 mb-0">A least <b>number</b> (0-9)</p>
                                    </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="password-input">Re-enter Password</label>
                                            <div class="position-relative auth-pass-inputgroup">
                                                {{ form.password2|add_class:"form-control pe-5 password-input"|attr:"placeholder:Confirm Password"|attr:"id:password-input"|attr:"required"|attr:"required maxlength:100" }}
                                            </div>
                                        </div>

                                    <div class="mt-4">
                                        <button class="btn btn-primary w-100 submit-btn" type="submit">Sign Up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->

                    <div class="mt-4 text-center">
                        <p class="mb-0">Already have an account ? <a href="{% url 'login' %}" class="fw-semibold text-primary text-decoration-underline"> Signin </a> </p>
                    </div>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="mb-0 text-muted">&copy;
                            <script>document.write(new Date().getFullYear())</script>-2024 by BSIT 4-2, PUPQC-FPS, All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- validation init -->
    <script src="{% static 'js/pages/form-validation.init.js' %}"></script>
    <!-- password create init -->
    <script src="{% static 'js/pages/password-create.init.js' %}"></script>
    <!-- password-addon init -->
    <script src="{% static 'js/pages/password-addon.init.js' %}"></script>
    
    <script>
        const webmail = document.querySelector("#webmail");
        const feedbackArea = document.querySelector(".invalid_feedback");
        const emailFeedBackArea = document.querySelector(".webmailFeedBackArea");
        const emailSuccessArea = document.querySelector(".webmailSuccessArea");
        const submitBtn = document.querySelector(".submit-btn");

        webmail.addEventListener("keyup",(e)=> {
            const emailVal = e.target.value;

            webmail.classList.remove("is-invalid");
            emailFeedBackArea.style.display = "none";
            emailSuccessArea.style.display = "none"; // Hide success message by default

            //WebmailSuccessOutput.style.display = 'block';
            //WebmailSuccessOutput.textContent=`Checking ${emailVal}`

            if (emailVal.length > 0) {

                fetch("/validate-email", {
                    body: JSON.stringify({ email: emailVal }),
                    method: "POST",
                })
                .then((res) => res.json())

                .then((data) => {
                    console.log("data", data);
                    if (data.email_valid) {
                        emailSuccessArea.style.display = "block";
                        emailSuccessArea.innerHTML = `<p>${data.email_valid}</p>`;
                    }
                    if (data.email_error) {
                        submitBtn.disabled = true;
                        webmail.classList.add("is-invalid");
                        emailFeedBackArea.style.display = "block";
                        emailFeedBackArea.innerHTML = `<p>${data.email_error}</p>`;
                    } else {
                        submitBtn.removeAttribute("disabled");
                    }

                    if (data.gmail_error) {
                        submitBtn.disabled = true;
                        webmail.classList.add("is-invalid");
                        emailFeedBackArea.style.display = "block";
                        emailFeedBackArea.innerHTML = `<p>${data.gmail_error}</p>`;
                    } else {
                        submitBtn.removeAttribute("disabled");
                    }

                    if (data.yahoo_error) {
                        submitBtn.disabled = true;
                        webmail.classList.add("is-invalid");
                        emailFeedBackArea.style.display = "block";
                        emailFeedBackArea.innerHTML = `<p>${data.yahoo_error}</p>`;
                    } else {
                        submitBtn.removeAttribute("disabled");
                    }

                    if (data.webmail_error) {
                        submitBtn.disabled = true;
                        webmail.classList.add("is-invalid");
                        emailFeedBackArea.style.display = "block";
                        emailFeedBackArea.innerHTML = `<p>${data.webmail_error}</p>`;
                    } else {
                        submitBtn.removeAttribute("disabled");
                    }

                    if (data.error) {
                        submitBtn.disabled = true;
                        webmail.classList.add("is-invalid");
                        emailFeedBackArea.style.display = "block";
                        emailFeedBackArea.innerHTML = `<p>${data.error}</p>`;
                    } else {
                        submitBtn.removeAttribute("disabled");
                    }
                });
            }
        });
        const users_last = document.querySelector("#usersLast");
        const lnameErrorFeedbackArea = document.querySelector(".lnameErrorFeedbackArea");
        const lnameSuccessFeedbackArea = document.querySelector(".lnameSuccessFeedbackArea");

        users_last.addEventListener("keyup", (e)=> {
            const lnameVal = e.target.value;

            users_last.classList.remove("is-invalid");
            lnameErrorFeedbackArea.style.display = "none";
            lnameSuccessFeedbackArea.style.display = "none";

            if (lnameVal.length > 0) {
                fetch("/validate-lname", {
                    body: JSON.stringify({ lastname: lnameVal }),
                    method: "POST",
                })
                .then((res) => res.json())
                .then((data) => {
                    console.log("data", data);
                    if (data.lastname_valid) {
                        lnameSuccessFeedbackArea.style.display = "block";
                        lnameSuccessFeedbackArea.innerHTML = `<p>${data.lastname_valid}</p>`;
                    }
                    if (data.lastname_error) {
                        submitBtn.disabled = true;
                        webmail.classList.add("is-invalid");
                        lnameErrorFeedbackArea.style.display = "block";
                        lnameErrorFeedbackArea.innerHTML = `<p>${data.lastname_error}</p>`;
                    } else {
                        submitBtn.removeAttribute("disabled");
                    }
                });
            }
        });
        const users_first = document.querySelector("#usersFirst");
        const fnameErrorFeedbackArea = document.querySelector(".fnameErrorFeedbackArea");
        const fnameSuccessFeedbackArea = document.querySelector(".fnameSuccessFeedbackArea");

        users_first.addEventListener("keyup", (e)=> {
            const fnameVal = e.target.value;

            users_first.classList.remove("is-invalid");
            fnameErrorFeedbackArea.style.display = "none";
            fnameSuccessFeedbackArea.style.display = "none";

            if (fnameVal.length > 0) {
                fetch("/validate-fname", {
                    body: JSON.stringify({ firstname: fnameVal }),
                    method: "POST",
                })
                .then((res) => res.json())
                .then((data) => {
                    console.log("data", data);
                    if (data.firstname_valid) {
                        fnameSuccessFeedbackArea.style.display = "block";
                        fnameSuccessFeedbackArea.innerHTML = `<p>${data.firstname_valid}</p>`;
                    }
                    if (data.firstname_error) {
                        submitBtn.disabled = true;
                        webmail.classList.add("is-invalid");
                        fnameErrorFeedbackArea.style.display = "block";
                        fnameErrorFeedbackArea.innerHTML = `<p>${data.firstname_error}</p>`;
                    } else {
                        submitBtn.removeAttribute("disabled");
                    }
                });
            }
        });
        const users_middle = document.querySelector("#usersMiddle");
        const mnameErrorFeedbackArea = document.querySelector(".mnameErrorFeedbackArea");
        const mnameSuccessFeedbackArea = document.querySelector(".mnameSuccessFeedbackArea");

        users_middle.addEventListener("keyup", (e)=> {
            const mnameVal = e.target.value;

            users_middle.classList.remove("is-invalid");
            mnameErrorFeedbackArea.style.display = "none";
            mnameSuccessFeedbackArea.style.display = "none";

            if (mnameVal.length > 0) {
                fetch("/validate-mname", {
                    body: JSON.stringify({ middlename: mnameVal }),
                    method: "POST",
                })
                .then((res) => res.json())
                .then((data) => {
                    console.log("data", data);
                    if (data.middlename_valid) {
                        mnameSuccessFeedbackArea.style.display = "block";
                        mnameSuccessFeedbackArea.innerHTML = `<p>${data.middlename_valid}</p>`;
                    }
                    if (data.middlename_error) {
                        submitBtn.disabled = true;
                        webmail.classList.add("is-invalid");
                        mnameErrorFeedbackArea.style.display = "block";
                        mnameErrorFeedbackArea.innerHTML = `<p>${data.middlename_error}</p>`;
                    } else {
                        submitBtn.removeAttribute("disabled");
                    }
                });
            }
        });
    </script>

    <script>
        
        //const reggedit = document.querySelector(".needs-validation")
        document.getElementById("registration-form").addEventListener("submit", function(event) {
            //event.preventDefault();
        }),
            // Serialize form data
            const formData = new FormData(this);
        
            // Send the form data to the server
            fetch("/registry/", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the server
                console.log(data);
            
            .catch(error => {
                console.error("Error:", error);
            });
        });
        
    </script>

{% endblock%}