
{% load static %}
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- App favicon -->
    <link rel="icon png" href="{% static 'img/pupqcfps2.png' %}">
    
    <title>myPUPQC-FPS{% block title %}{% endblock %}</title>
    
    <!-- jsvectormap css -->
    <link href="{% static 'libs/jsvectormap/css/jsvectormap.min.cs' %}" rel="stylesheet" type="text/css" />

    <!-- gridjs css -->
    <link rel="stylesheet" href="{% static 'libs/gridjs/theme/mermaid.min.css' %}">

    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
    
    <!-- data tables buttons -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

    <!-- Layout config Js -->
    <script src="{% static 'js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- App Css-->
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css">
    <!-- custom Css-->
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Filepond css -->
    <link rel="stylesheet" href="{% static 'libs/filepond/filepond.min.css' %}" type="text/css" />

    <!-- aos css -->
    <link rel="stylesheet" href="{% static 'libs/aos/aos.css' %}" />
</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            {% include 'partials/_topnav.html' %}
        </header>

        <!-- remove notif modal -->
        <div id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="NotificationModalbtn-close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mt-2 text-center">
                            <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                <h4>Are you sure ?</h4>
                                <p class="text-muted mx-4 mb-0">Are you sure you want to remove this Notification ?</p>
                            </div>
                        </div>
                        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                            <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn w-sm btn-danger" id="delete-notification">Yes, Delete It!</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- sidebar -->

        <div class="app-menu navbar-menu">
            {% include 'partials/_sidebar.html' %}
        </div>

        <!-- vertical overlay -->
        <div class="vertical-overlay"></div>

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </div>
            
            <!-- End Page-content -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script>-2024 © BSIT 4-2 Batch 2020
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Polytechnic University of the Philippines, Quezon City - Faculty Performance System
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- back to top -->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>

    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>

    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>

    <!-- Dashboard init -->
    <script src="{% static 'js/pages/dashboard-crm.init.js' %}"></script>

    <!-- Vector map-->
    <script src="{% static 'libs/jsvectormap/js/jsvectormap.min.js' %}"></script>
    <script src="{% static 'libs/jsvectormap/maps/world-merc.js' %}"></script>

    <!-- gridjs js -->
    <script src="{% static 'libs/gridjs/gridjs.umd.js' %}"></script>

    <!-- Dashboard init -->
    <script src="{% static 'js/pages/dashboard-job.init.js' %}"></script>

    <!-- Dashboard init -->
    <script src="{% static 'js/pages/dashboard-projects.init.js' %}"></script>

    <!-- profile-setting init js -->
    <script src="{% static 'js/pages/profile-setting.init.js' %}"></script>

    <!-- datatabbles init js -->
    <script src="{% static 'js/pages/datatables.init.js' %}"></script>


    <!--datatable js-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <!-- filepond js -->
    <script src="{% static 'libs/filepond/filepond.min.js' %}"></script>
    <script src="{% static 'libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js' %}"></script>
    <script src="{% static 'libs/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js' %}"></script>
    <script src="{% static 'libs/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js' %}"></script>
    <script src="{% static 'libs/filepond-plugin-file-encode/filepond-plugin-file-encode.min.js' %}"></script>

    <script src="{% static 'js/pages/form-file-upload.init.js' %}"></script>

    
    <!-- aos js -->
    <script src="{% static 'libs/aos/aos.js' %}"></script>
    <!-- prismjs plugin -->
    <script src="{% static 'libs/prismjs/prism.js' %}"></script>
    <!-- animation init -->
    <script src="{% static 'js/pages/animation-aos.init.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
